- name: Ensure directories exists
  file:
    path: "{{ prometheus_dir }}/{{ item }}"
    state: directory
    mode: '0755'
  loop: ["config", "data", "alertmanager-data", "targets",]

- name: Copy files
  become: true
  become_user: root
  block:
    - template:
        src: "{{ item.src }}"
        dest: "{{ item.dest }}"
        owner: "{{ deploy_user }}"
      loop:
        - { src: "{{ playbook_dir }}/roles/prometheus/templates/prometheus.yml", dest: "{{ prometheus_dir }}/config/prometheus.yml" }
        - { src: "{{ playbook_dir }}/roles/prometheus/templates/alertmanager.yml", dest: "{{ prometheus_dir }}/config/alertmanager.yml" }
        - { src: "{{ playbook_dir }}/roles/prometheus/templates/docker-compose.yml", dest: "{{ prometheus_dir }}/docker-compose.yml" }
    - copy:
        src: "{{ playbook_dir }}/roles/prometheus/files/alert-rules.yml"
        dest: "{{ prometheus_dir }}/config/alert-rules.yml"

- name: Launch Prometheus stack
  community.docker.docker_compose_v2:
    project_src: "{{ prometheus_dir }}"
    pull: missing
    state: present
    recreate: always

- name: Install systemd unit for Prometheus compose
  become: true
  become_user: root
  template:
    src: prometheus-compose.service.j2
    dest: /etc/systemd/system/prometheus-compose.service
    mode: '0644'
  notify: Reload systemd

- name: Enable and start prometheus-compose service
  become: true
  become_user: root
  systemd:
    name: prometheus-compose.service
    enabled: true
    state: started
