- name: Update and upgrade apt packages
  become: true
  apt:
    upgrade: yes
    update_cache: yes
    cache_valid_time: 86400

- name: Add Docker GPG key
  become: true
  get_url:
    url: https://download.docker.com/linux/debian/gpg
    dest: /usr/share/keyrings/docker.gpg
    mode: '0644'

# - name: Install Docker repo key (dearmored)
#   become: true
#   shell: |
#     curl -fsSL https://download.docker.com/linux/debian/gpg \
#       | gpg --dearmor -o /etc/apt/keyrings/docker.gpg
#   args:
#     creates: /etc/apt/keyrings/docker.gpg

- name: Add Docker APT repo
  become: true
  apt_repository:
    repo: "deb [arch=amd64 signed-by=/usr/share/keyrings/docker.gpg] https://download.docker.com/linux/debian {{ ansible_distribution_release }} stable"
    filename: docker

# - name: Add Docker Repository
#   become: true
#   shell:
#     cmd: echo "deb [arch=$(dpkg --print-architecture)] https://download.docker.com/linux/debian $(lsb_release -cs) stable" | sudo tee /etc/apt/sources.list.d/docker.list > /dev/null

- name: Update and upgrade apt packages
  become: true
  apt:
    upgrade: yes
    update_cache: yes
    cache_valid_time: 86400

- name: Update apt and install docker-ce
  become: true
  apt:
    state: latest
    update_cache: yes
    name: ['docker-ce', 'docker-ce-cli', 'containerd.io', 'docker-buildx-plugin', 'docker-compose-plugin', 'apparmor']

- name: Adding {{ ansible_env.USER }} user to group docker
  become: true
  user:
    append: true
    name: '{{ ansible_env.USER }}'
    groups:
      - docker

- name: Adding {{ deploy_user }} user to group docker
  become: true
  user:
    append: true
    name: '{{ deploy_user }}'
    groups:
      - docker

- name: Adding ssh users to group docker
  become: true
  user:
    name: "{{ item }}"
    append: true
    groups:
      - docker
  with_items: "{{ ssh_users }}"

- name: Allow docker for any user to avoid reboot
  become: true
  file:
    path: /var/run/docker.sock
    mode: '0666'

- name: Ensure systemd override dir for Docker
  ansible.builtin.file:
    path: /etc/systemd/system/docker.service.d
    state: directory
    mode: "0755"

- name: Set Docker LimitNOFILE
  ansible.builtin.copy:
    dest: /etc/systemd/system/docker.service.d/override.conf
    mode: "0644"
    content: |
      [Service]
      LimitNOFILE=200000

- name: Set Docker default ulimits
  ansible.builtin.copy:
    dest: /etc/docker/daemon.json
    mode: "0644"
    content: |
      {
        "default-ulimits": {
          "nofile": { "Name": "nofile", "Soft": 200000, "Hard": 200000 }
        }
      }

- name: Reload systemd
  command: systemctl daemon-reload
  changed_when: false

- name: Ensure Docker running
  service:
    name: docker
    state: started
