[package]
authors       = { workspace = true }
categories    = { workspace = true }
documentation = { workspace = true }
edition       = { workspace = true }
license       = { workspace = true }
name          = "dango-bridge-relayer-httpd"
repository    = { workspace = true }
rust-version  = { workspace = true }
version       = { workspace = true }

[[bin]]
name = "bridge-relayer-httpd"
path = "src/main.rs"

[features]
metrics = ["dep:actix-web-metrics", "dep:metrics"]
tracing = ["dep:tracing"]

[dependencies]
actix-cors                  = { workspace = true }
actix-web                   = { workspace = true }
actix-web-metrics           = { workspace = true, optional = true }
anyhow                      = { workspace = true }
async-stream                = { workspace = true }
chrono                      = { workspace = true }
dango-types                 = { workspace = true }
dotenvy                     = { workspace = true }
error-backtrace             = { workspace = true }
grug                        = { workspace = true }
indexer-client              = { workspace = true }
metrics                     = { workspace = true, optional = true }
metrics-exporter-prometheus = { workspace = true }
sea-orm                     = { workspace = true }
sea-orm-migration           = { workspace = true }
sentry-actix                = { workspace = true }
serde                       = { workspace = true }
serde_json                  = { workspace = true }
thiserror                   = { workspace = true }
tokio                       = { workspace = true }
tokio-stream                = { workspace = true }
tracing                     = { workspace = true, optional = true }
tracing-subscriber          = { workspace = true }

[dev-dependencies]
assertor         = { workspace = true }
corepc-client    = { workspace = true }
dango-genesis    = { workspace = true }
dango-mock-httpd = { workspace = true }
dango-testing    = { workspace = true }
reqwest          = { workspace = true }
test-case        = { workspace = true }
