@tailwind base;
@tailwind components;
@tailwind utilities;

body,
#root {
  font-family: 'ABCDiatypeRounded';
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-gutter: stable;
}

.header {
  width: 200%;
  mask-position: bottom center;
  mask-repeat: no-repeat;
  mask-size: 115%;
  mask-image: url("./images/header-mask.svg");
  mask-mode: alpha;
}

@media screen and (min-width: 768px) {
  .header {
    width: 100%;
  }
}
