@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-surface-primary-rice: #FFFCF6;
  --color-surface-secondary-rice: #FFF9F0;
  --color-surface-secondary-blue: #F0F1F7;
  --color-surface-tertiary-rice: #FFF3E1;
  --color-surface-quaternary-rice: #F3E5BF;
  --color-button-green: #BDBF5C;
  --color-primary-red: #FEF1F1;
  --color-primary-blue: #F7F8FB;
  --color-primary-rice: #9C4D21;
  --color-primary-900: #2E2521;
  --color-secondary-700: #453D39;
  --color-secondary-blue: #918CC6;
  --color-secondary-rice: #9C4D21;
  --color-secondary-gray: #EAE9E9;
  --color-tertiary-500: #6E6865;
  --color-tertiary-rice: #F3E5BF;
  --shadow-card:0px 2px 4px rgba(171, 158, 138, 0.4), 0px -1px 2px rgba(241, 219, 186, 0.5);
  --shadow-btn-shadow-gradient:0px 2px 4px rgba(171, 158, 138, 0.4), 0px -1px 2px rgba(241, 219, 186, 0.5), inset 0px 3px 6px -2px rgba(255, 255, 255, 0.64), inset 0px 0px 8px -2px rgba(255, 255, 255, 0.48);
  --color-bg-card-red:linear-gradient(98.89deg, #FFFBF5 5.88%, #F9E2E2 46.73%, #FFFBF4 94.73%);
  --color-bg-card-green:linear-gradient(98.89deg, #F8F9EF 5.88%, #EFF0C3 46.73%, #F8F9EF 94.73%);
}

html.dark {
  --color-surface-primary-rice: #2D2C2A;
  --color-surface-secondary-rice: #363432;
  --color-surface-secondary-blue: #646273;
  --color-surface-tertiary-rice: #4D4B48;
  --color-surface-quaternary-rice: #594F3C;
  --color-button-green: #D2D184;
  --color-primary-red: #423C3B;
  --color-primary-blue: #595763;
  --color-primary-rice: #E3BD66;
  --color-primary-900: #FFFCF6;
  --color-secondary-700: #FFF9F0;
  --color-secondary-blue: #CBCBE7;
  --color-secondary-rice: #E3BD66;
  --color-secondary-gray: #4D4B48;
  --color-tertiary-500: #B2AEA8;
  --color-tertiary-rice: #474237;
  --shadow-card:0px 1px 6px rgba(25, 25, 24, 0.4), 0px 4px 13px rgba(25, 25, 24, 0.5);
  --shadow-btn-shadow-gradient:0px 0px 8px -2px #FFFFFF7A inset, 0px 3px 6px -2px #FFFFFFA3 inset, 0px 4px 6px 0px #0000000A, 0px 4px 6px 0px #0000000A;
  --color-bg-card-red:linear-gradient(98.89deg, #494443 11.21%, #584D4E 46.73%, #322F2F 88.96%);
  --color-bg-card-green:linear-gradient(98.89deg, #373634 18.76%, #666654 46.73%, #373634 87.62%);
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
  min-height: 100svh;
  scrollbar-gutter: stable;
}

#root {
  font-family: 'ABCDiatypeRounded', sans-serif;
  padding-bottom: env(safe-area-inset-bottom);
}

.header {
  width: 200%;
  mask: url("./images/header-mask.svg") no-repeat bottom center / 115%;
}

@media screen and (min-width: 768px) {
  .header {
    width: 100%;
  }
}


@layer utilities {
  @media (min-height: 1000px) and (min-width: 1280px) {
    div.custom-width {
      width: calc(720px + (100vh - 1000px) * 0.8);
    }
  }

  .qr-container {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
  }

  .max-h-available {
    max-height: 100vh;
    max-height: -moz-available;
    max-height: -webkit-fill-available;
    max-height: -webkit-stretch;
  }
}

[cmdk-group-heading] {
  @apply diatype-sm-medium text-tertiary-500;
  padding: 0 11px;
}

.react-json-view .variable-value div {
  /* biome-ignore lint/correctness/noUnknownFunction: <explanation> */
  color: theme("colors.white.100") !important;
}
