services:
  validator:
    image: "ghcr.io/left-curve/left-curve/hyperlane-agents:${HYPERLANE_AGENTS_TAG}"
    container_name: "${HYPERLANE_INSTANCE_NAME}"
    env_file:
      - .env
    volumes:
      - "${HYPERLANE_INSTANCE_DIR}/hyperlane_db:/app/hyperlane_db"
      - "${HYPERLANE_AGENTS_DIR}/config.json:/config/config.json:ro"
      - "${HYPERLANE_AGENTS_DIR}/validator-config.json:/config/validator-config.json:ro"
      - "${HYPERLANE_AGENTS_DIR}/validator-${HYPERLANE_AGENTS_NETWORK}-config.json:/config/validator-${HYPERLANE_AGENTS_NETWORK}-config.json:ro"
    environment:
      CONFIG_FILES: >-
        /config/config.json,/config/validator-config.json,/config/validator-${HYPERLANE_AGENTS_NETWORK}-config.json
    ports:
      - "${HYPERLANE_METRICS_HOST_PORT}:9090"
    command: ["./validator"]
    restart: unless-stopped
