tcp:
  services:
    {{ dango_network }}-cometbft_p2p:
      loadBalancer:
        servers:
          - address: "{{ deployment_name }}-cometbft-1:26656"
  routers:
    {{ dango_network }}-cometbft_p2p:
      rule: "HostSNI(`*`)"
      entryPoints:
        - "{{ dango_network }}-cometbft_p2p"
      service: "{{ dango_network }}-cometbft_p2p"

http:
  middlewares:
    {{ dango_network }}-cors-dango:
      headers:
        accessControlAllowOriginListRegex:
          - ^https://([a-z0-9-]+\.)*dango\.zone$
          - ^https://([a-z0-9-]+\.)*dango\.exchange$
          - ^https://([a-z0-9-]+\.)*dango-portal\.pages\.dev$
        accessControlAllowMethods: ["GET","POST","OPTIONS"]
        accessControlAllowHeaders:
          - Content-Type
          - Authorization
          - Accept
          - X-Requested-With
          - sentry-trace
          - baggage
        accessControlAllowCredentials: true
        addVaryHeader: true
        accessControlMaxAge: 600
  services:
    {{ dango_network }}-dango:
      loadBalancer:
        servers:
          - url: "http://{{ deployment_name }}-dango-1:8080"
    {{ dango_network }}-dango-metrics:
      loadBalancer:
        servers:
          - url: "http://{{ deployment_name }}-dango-1:9191"
    {{ dango_network }}-frontend:
      loadBalancer:
        servers:
          - url: "http://{{ deployment_name }}-dango-frontend-1:80"
    {{ dango_network }}-faucet_bot:
      loadBalancer:
        servers:
          - url: "http://{{ deployment_name }}-faucet-bot-1:8082"
    {{ dango_network }}-cometbft_rpc:
      loadBalancer:
        servers:
          - url: "http://{{ deployment_name }}-cometbft-1:26657"
    {{ dango_network }}-cometbft_metrics:
      loadBalancer:
        servers:
          - url: "http://{{ deployment_name }}-cometbft-1:26660"
    {{ dango_network }}-db-metrics:
      loadBalancer:
        servers:
          - url: "http://{{ deployment_name }}-postgres-prometheus-1:9187"
    {{ dango_network }}-clickhouse-metrics:
      loadBalancer:
        servers:
          - url: "http://{{ deployment_name }}-clickhouse-1:9126"
    {{ dango_network }}-graphiql:
      loadBalancer:
        servers:
          - url: "http://{{ deployment_name }}-graphiql-1:80"

  routers:
    {{ dango_network }}-main-frontend:
      rule: "Host(`www-{{ dango_network }}-{{ hostname }}.{{ dango_domain }}`)"
      entryPoints:
        - "web"
      service: "{{ dango_network }}-frontend"

    {{ dango_network }}-main-frontend-ssl:
      rule: "Host(`www-{{ dango_network }}-{{ hostname }}.{{ dango_domain }}`)"
      entryPoints:
        - "websecure"
      tls: {}
      service: "{{ dango_network }}-frontend"

    {{ dango_network }}-main-backend:
      rule: "Host(`api-{{ dango_network }}-{{ hostname }}.{{ dango_domain }}`)"
      entryPoints:
        - "web"
      service: "{{ dango_network }}-dango"
      middlewares:
        - "{{ dango_network }}-cors-dango"

    {{ dango_network }}-main-backend-ssl:
      rule: "Host(`api-{{ dango_network }}-{{ hostname }}.{{ dango_domain }}`)"
      entryPoints:
        - "websecure"
      tls: {}
      service: "{{ dango_network }}-dango"
      middlewares:
        - "{{ dango_network }}-cors-dango"

    {{ dango_network }}-main-faucet_bot:
      rule: "Host(`faucet-{{ dango_network }}-{{ hostname }}.{{ dango_domain }}`)"
      entryPoints:
        - "web"
      service: "{{ dango_network }}-faucet_bot"
      middlewares:
        - "{{ dango_network }}-cors-dango"

    {{ dango_network }}-main-faucet_bot-ssl:
      rule: "Host(`faucet-{{ dango_network }}-{{ hostname }}.{{ dango_domain }}`)"
      entryPoints:
        - "websecure"
      tls: {}
      service: "{{ dango_network }}-faucet_bot"
      middlewares:
        - "{{ dango_network }}-cors-dango"

    {{ dango_network }}-main-graphiql:
      rule: "Host(`graphiql-{{ dango_network }}-{{ hostname }}.{{ dango_domain }}`)"
      entryPoints:
        - "web"
      service: "{{ dango_network }}-graphiql"

    {{ dango_network }}-main-graphiql-ssl:
      rule: "Host(`graphiql-{{ dango_network }}-{{ hostname }}.{{ dango_domain }}`)"
      entryPoints:
        - "websecure"
      tls: {}
      service: "{{ dango_network }}-graphiql"

    {{ dango_network }}-cloudflare-frontend:
      rule: "Host(`www-{{ dango_network }}.{{ dango_domain }}`)"
      entryPoints:
        - "web"
      service: "{{ dango_network }}-frontend"

    {{ dango_network }}-cloudflare-frontend-ssl:
      rule: "Host(`www-{{ dango_network }}.{{ dango_domain }}`)"
      entryPoints:
        - "websecure"
      tls: {}
      service: "{{ dango_network }}-frontend"

    {{ dango_network }}-cloudflare-backend:
      rule: "Host(`api-{{ dango_network }}.{{ dango_domain }}`)"
      entryPoints:
        - "web"
      service: "{{ dango_network }}-dango"
      middlewares:
        - "{{ dango_network }}-cors-dango"

    {{ dango_network }}-cloudflare-backend-ssl:
      rule: "Host(`api-{{ dango_network }}.{{ dango_domain }}`)"
      entryPoints:
        - "websecure"
      tls: {}
      service: "{{ dango_network }}-dango"
      middlewares:
        - "{{ dango_network }}-cors-dango"

    {{ dango_network }}-cloudflare-faucet_bot:
      rule: "Host(`faucet-{{ dango_network }}.{{ dango_domain }}`)"
      entryPoints:
        - "web"
      service: "{{ dango_network }}-faucet_bot"
      middlewares:
        - "{{ dango_network }}-cors-dango"

    {{ dango_network }}-cloudflare-faucet_bot-ssl:
      rule: "Host(`faucet-{{ dango_network }}.{{ dango_domain }}`)"
      entryPoints:
        - "websecure"
      tls: {}
      service: "{{ dango_network }}-faucet_bot"
      middlewares:
        - "{{ dango_network }}-cors-dango"

    {{ dango_network }}-dango:
      rule: "PathPrefix(`/`)"
      entryPoints:
        - "{{ dango_network }}-dango"
      service: "{{ dango_network }}-dango"
      middlewares:
        - "{{ dango_network }}-cors-dango"

    {{ dango_network }}-dango-metrics:
      rule: "PathPrefix(`/`)"
      entryPoints:
        - "{{ dango_network }}-dango-metrics"
      service: "{{ dango_network }}-dango-metrics"

    {{ dango_network }}-frontend:
      rule: "PathPrefix(`/`)"
      entryPoints:
        - "{{ dango_network }}-frontend"
      service: "{{ dango_network }}-frontend"

    {{ dango_network }}-faucet_bot:
      rule: "PathPrefix(`/`)"
      entryPoints:
        - "{{ dango_network }}-faucet_bot"
      service: "{{ dango_network }}-faucet_bot"
      middlewares:
        - "{{ dango_network }}-cors-dango"

    {{ dango_network }}-cometbft_rpc:
      rule: "PathPrefix(`/`)"
      entryPoints:
        - "{{ dango_network }}-cometbft_rpc"
      service: "{{ dango_network }}-cometbft_rpc"

    {{ dango_network }}-cometbft_abci:
      rule: "PathPrefix(`/`)"
      entryPoints:
        - "{{ dango_network }}-cometbft_abci"
      service: "{{ dango_network }}-cometbft_abci"

    {{ dango_network }}-cometbft_metrics:
      rule: "PathPrefix(`/`)"
      entryPoints:
        - "{{ dango_network }}-cometbft_metrics"
      service: "{{ dango_network }}-cometbft_metrics"

    {{ dango_network }}-db-metrics:
      rule: "PathPrefix(`/`)"
      entryPoints:
        - "{{ dango_network }}-db-metrics"
      service: "{{ dango_network }}-db-metrics"

    {{ dango_network }}-clickhouse-metrics:
      rule: "PathPrefix(`/`)"
      entryPoints:
        - "{{ dango_network }}-clickhouse-metrics"
      service: "{{ dango_network }}-clickhouse-metrics"
