{
  "block_task": {
    "initial_loops": 100,
    "max_loops": 300,
    "timeout": "30s"
  },
  "bot": {
    "event_duration": 38,
    "event_start": {
      "timestamp": "2026-04-15T12:00:00Z"
    },
    "from_block": 16840000,
    "loot_tables": {
      "25000": {
        "chest": "bronze",
        "drop_rate": [
          ["70", "common"],
          ["20", "uncommon"],
          ["8", "rare"],
          ["1.5", "epic"],
          ["0.45", "legendary"],
          ["0.05", "mythic"]
        ]
      },
      "100000": {
        "chest": "silver",
        "drop_rate": [
          ["45", "common"],
          ["30", "uncommon"],
          ["15", "rare"],
          ["7", "epic"],
          ["2.5", "legendary"],
          ["0.5", "mythic"]
        ]
      },
      "250000": {
        "chest": "gold",
        "drop_rate": [
          ["25", "common"],
          ["25", "uncommon"],
          ["20", "rare"],
          ["17", "epic"],
          ["9", "legendary"],
          ["4", "mythic"]
        ]
      },
      "500000": {
        "chest": "crystal",
        "drop_rate": [
          ["5", "common"],
          ["10", "uncommon"],
          ["25", "rare"],
          ["25", "epic"],
          ["25", "legendary"],
          ["10", "mythic"]
        ]
      }
    },
    "oat_multiplier": "1",
    "oat_window": "4weeks",
    "perps_expression": "1 + x * 0.05",
    "epoch_duration": "1week",
    "epoch_perps_share": "750000",
    "epoch_vault_points": "250000",
    "leaderboard_timeframes": [1, 2, 4],
    "reset_perps_at_block": 17708992
  },
  "http_url": "https://api-mainnet-hetzner1.dango.zone",
  "httpd": {
    "register_cache_delta": "1m",
    "rest_url": "0.0.0.0:8080",
    "leaderboard_refresh_interval": "1m",
    "predict_points_refresh_interval": "2m"
  },
  "log_level": "info",
  "referral": {
    "direct_share": "0.2",
    "indirect_share": "0.05",
    "referral_boosts": {{ (points_bot_referral_boosts[network] | default({})) | to_nice_json(indent=2) | indent(4) }}
  },
 "compensation": {
    "8": {
      "vault": "0.154057",
      "unrealized": "6.21294"
    },
    "22": {
      "vault": "0",
      "unrealized": "15.026894"
    },
    "26": {
      "vault": "12.97796",
      "unrealized": "0"
    },
    "34": {
      "vault": "0",
      "unrealized": "46.829541"
    },
    "44": {
      "vault": "21.825267",
      "unrealized": "0"
    },
    "53": {
      "vault": "10.223446",
      "unrealized": "0"
    },
    "61": {
      "vault": "0",
      "unrealized": "0.126648"
    },
    "76": {
      "vault": "0",
      "unrealized": "2.136297"
    },
    "93": {
      "vault": "0",
      "unrealized": "8.896126"
    },
    "118": {
      "vault": "19.632255",
      "unrealized": "1247.812237"
    },
    "157": {
      "vault": "195.05977",
      "unrealized": "645.505576"
    },
    "158": {
      "vault": "0.052808",
      "unrealized": "0.779545"
    },
    "179": {
      "vault": "0",
      "unrealized": "703.132746"
    },
    "192": {
      "vault": "2.196609",
      "unrealized": "0"
    },
    "193": {
      "vault": "39.176576",
      "unrealized": "0"
    },
    "198": {
      "vault": "1.13707",
      "unrealized": "0"
    },
    "200": {
      "vault": "0.437035",
      "unrealized": "0"
    },
    "203": {
      "vault": "390.526699",
      "unrealized": "1728.41719"
    },
    "207": {
      "vault": "0",
      "unrealized": "45.010877"
    },
    "208": {
      "vault": "1.158222",
      "unrealized": "0"
    },
    "209": {
      "vault": "1.162741",
      "unrealized": "0"
    },
    "223": {
      "vault": "0",
      "unrealized": "31.547163"
    },
    "224": {
      "vault": "1.145654",
      "unrealized": "0"
    },
    "225": {
      "vault": "1.336731",
      "unrealized": "0"
    },
    "228": {
      "vault": "1339.334052",
      "unrealized": "0"
    },
    "233": {
      "vault": "390.508556",
      "unrealized": "0"
    },
    "238": {
      "vault": "0",
      "unrealized": "3.644636"
    },
    "239": {
      "vault": "1093.905992",
      "unrealized": "0"
    },
    "242": {
      "vault": "0",
      "unrealized": "1.114222"
    },
    "243": {
      "vault": "195.198449",
      "unrealized": "1029.538113"
    },
    "297": {
      "vault": "0",
      "unrealized": "21.198926"
    },
    "311": {
      "vault": "0",
      "unrealized": "137.656066"
    },
    "374": {
      "vault": "218.216509",
      "unrealized": "0"
    },
    "380": {
      "vault": "0.198067",
      "unrealized": "0"
    },
    "396": {
      "vault": "0",
      "unrealized": "0.434933"
    },
    "442": {
      "vault": "0",
      "unrealized": "0.292073"
    },
    "495": {
      "vault": "0.087045",
      "unrealized": "0"
    },
    "498": {
      "vault": "0",
      "unrealized": "6.192821"
    },
    "523": {
      "vault": "0.062801",
      "unrealized": "0"
    },
    "535": {
      "vault": "0.064662",
      "unrealized": "0"
    },
    "701": {
      "vault": "0",
      "unrealized": "1015.281258"
    },
    "705": {
      "vault": "631.529697",
      "unrealized": "0"
    },
    "719": {
      "vault": "42.970875",
      "unrealized": "0"
    },
    "753": {
      "vault": "0",
      "unrealized": "0.004578"
    },
    "774": {
      "vault": "6.310062",
      "unrealized": "0"
    },
    "777": {
      "vault": "0",
      "unrealized": "148.982089"
    },
    "779": {
      "vault": "0",
      "unrealized": "1141.980525"
    },
    "809": {
      "vault": "781.12605",
      "unrealized": "0"
    },
    "829": {
      "vault": "390.595368",
      "unrealized": "0"
    },
    "950": {
      "vault": "0",
      "unrealized": "3.646486"
    },
    "1010": {
      "vault": "0",
      "unrealized": "9.752779"
    },
    "1374": {
      "vault": "0",
      "unrealized": "174.124138"
    },
    "1398": {
      "vault": "0",
      "unrealized": "9.458117"
    },
    "1399": {
      "vault": "0",
      "unrealized": "19.62199"
    },
    "1597": {
      "vault": "0",
      "unrealized": "15.939778"
    },
    "1600": {
      "vault": "0",
      "unrealized": "248.446488"
    },
    "1652": {
      "vault": "3935.568211",
      "unrealized": "0"
    },
    "1722": {
      "vault": "0",
      "unrealized": "47.71542"
    },
    "1723": {
      "vault": "0",
      "unrealized": "5.262706"
    },
    "1764": {
      "vault": "1563.194192",
      "unrealized": "32.021427"
    },
    "2023": {
      "vault": "0.235534",
      "unrealized": "8.797509"
    },
    "2336": {
      "vault": "39.202507",
      "unrealized": "4.498776"
    },
    "2428": {
      "vault": "0",
      "unrealized": "5.744332"
    },
    "2429": {
      "vault": "0",
      "unrealized": "1165.789308"
    },
    "2498": {
      "vault": "5.817508",
      "unrealized": "0"
    },
    "2745": {
      "vault": "0",
      "unrealized": "4.167847"
    },
    "3159": {
      "vault": "1300.768162",
      "unrealized": "1429.60641"
    },
    "3169": {
      "vault": "0",
      "unrealized": "154.295736"
    },
    "3177": {
      "vault": "0",
      "unrealized": "46.753497"
    },
    "3184": {
      "vault": "1.90359",
      "unrealized": "0.008043"
    },
    "3188": {
      "vault": "0",
      "unrealized": "837.623863"
    },
    "3224": {
      "vault": "0",
      "unrealized": "113.943851"
    },
    "3264": {
      "vault": "0",
      "unrealized": "40.230316"
    },
    "3279": {
      "vault": "0",
      "unrealized": "18405.786044"
    },
    "3696": {
      "vault": "0",
      "unrealized": "0.788882"
    },
    "3703": {
      "vault": "0",
      "unrealized": "288.71049"
    },
    "3706": {
      "vault": "0",
      "unrealized": "134.695249"
    },
    "3762": {
      "vault": "1.688331",
      "unrealized": "0"
    },
    "3805": {
      "vault": "0",
      "unrealized": "0.30037"
    },
    "3838": {
      "vault": "105.963883",
      "unrealized": "0"
    },
    "3852": {
      "vault": "0",
      "unrealized": "1.385712"
    },
    "3891": {
      "vault": "1961.62135",
      "unrealized": "3840.537967"
    },
    "3934": {
      "vault": "0",
      "unrealized": "7.509815"
    },
    "3965": {
      "vault": "194.934673",
      "unrealized": "138.396859"
    },
    "4014": {
      "vault": "2.885248",
      "unrealized": "0"
    },
    "4025": {
      "vault": "1.169478",
      "unrealized": "0"
    },
    "4028": {
      "vault": "0",
      "unrealized": "20.018993"
    },
    "4076": {
      "vault": "0",
      "unrealized": "72.515361"
    },
    "4151": {
      "vault": "0",
      "unrealized": "0.451629"
    },
    "4201": {
      "vault": "0",
      "unrealized": "10.721572"
    },
    "4209": {
      "vault": "0",
      "unrealized": "0.069759"
    },
    "4212": {
      "vault": "0.11126",
      "unrealized": "0"
    },
    "4215": {
      "vault": "0.083009",
      "unrealized": "0.815501"
    },
    "4233": {
      "vault": "0",
      "unrealized": "38.41519"
    },
    "4237": {
      "vault": "0",
      "unrealized": "6.088836"
    },
    "4251": {
      "vault": "0",
      "unrealized": "4435.69933"
    },
    "4260": {
      "vault": "0",
      "unrealized": "0.974944"
    },
    "4266": {
      "vault": "78.308988",
      "unrealized": "345.651616"
    },
    "4268": {
      "vault": "11743.579975",
      "unrealized": "0"
    },
    "4281": {
      "vault": "0",
      "unrealized": "17.969835"
    },
    "4287": {
      "vault": "0",
      "unrealized": "51.679721"
    },
    "4290": {
      "vault": "0",
      "unrealized": "175.841048"
    },
    "4296": {
      "vault": "0",
      "unrealized": "0.049513"
    },
    "4297": {
      "vault": "0",
      "unrealized": "1874.929252"
    },
    "4302": {
      "vault": "0",
      "unrealized": "46.382233"
    },
    "4304": {
      "vault": "0",
      "unrealized": "7.132303"
    },
    "4323": {
      "vault": "0",
      "unrealized": "0.203701"
    },
    "4334": {
      "vault": "0",
      "unrealized": "66.587214"
    },
    "4341": {
      "vault": "0",
      "unrealized": "146.512642"
    },
    "4342": {
      "vault": "0",
      "unrealized": "3.055748"
    },
    "4346": {
      "vault": "0",
      "unrealized": "18.351787"
    },
    "4348": {
      "vault": "0",
      "unrealized": "366.302077"
    },
    "4375": {
      "vault": "1169.44323",
      "unrealized": "0"
    },
    "4377": {
      "vault": "0",
      "unrealized": "20.048066"
    },
    "4392": {
      "vault": "0",
      "unrealized": "1872.002476"
    },
    "4399": {
      "vault": "44.870588",
      "unrealized": "3763.936821"
    },
    "4406": {
      "vault": "0",
      "unrealized": "17.339097"
    },
    "4410": {
      "vault": "19.431674",
      "unrealized": "0"
    },
    "4411": {
      "vault": "0",
      "unrealized": "48.498472"
    },
    "4422": {
      "vault": "1.929711",
      "unrealized": "174.918903"
    },
    "4423": {
      "vault": "56.719367",
      "unrealized": "89.735509"
    },
    "4459": {
      "vault": "0",
      "unrealized": "18.593042"
    },
    "4460": {
      "vault": "0",
      "unrealized": "5.209165"
    },
    "4465": {
      "vault": "0",
      "unrealized": "70.069828"
    },
    "4467": {
      "vault": "0",
      "unrealized": "323.511856"
    },
    "4468": {
      "vault": "4.065139",
      "unrealized": "0"
    },
    "4469": {
      "vault": "0",
      "unrealized": "9.409229"
    },
    "4471": {
      "vault": "3.906639",
      "unrealized": "0"
    },
    "4472": {
      "vault": "0",
      "unrealized": "318.285568"
    },
    "4497": {
      "vault": "0",
      "unrealized": "28.96515"
    },
    "4499": {
      "vault": "3.911091",
      "unrealized": "0"
    },
    "4505": {
      "vault": "0",
      "unrealized": "463.374427"
    },
    "4509": {
      "vault": "77.904076",
      "unrealized": "0"
    },
    "4516": {
      "vault": "0",
      "unrealized": "0.62374"
    },
    "4519": {
      "vault": "0",
      "unrealized": "31.249639"
    },
    "4520": {
      "vault": "74.422785",
      "unrealized": "0"
    },
    "4524": {
      "vault": "0.73338",
      "unrealized": "41.569748"
    },
    "4526": {
      "vault": "0",
      "unrealized": "98.156444"
    },
    "4529": {
      "vault": "392.003687",
      "unrealized": "0"
    },
    "4530": {
      "vault": "0",
      "unrealized": "5.314032"
    },
    "4532": {
      "vault": "0",
      "unrealized": "17.42899"
    },
    "4541": {
      "vault": "0",
      "unrealized": "215.292596"
    },
    "4548": {
      "vault": "0",
      "unrealized": "664.923183"
    },
    "4549": {
      "vault": "0",
      "unrealized": "47.444756"
    },
    "4551": {
      "vault": "0",
      "unrealized": "99.743039"
    },
    "4553": {
      "vault": "32.014305",
      "unrealized": "1966.452309"
    },
    "4558": {
      "vault": "0",
      "unrealized": "0.405518"
    },
    "4570": {
      "vault": "0",
      "unrealized": "0.068203"
    },
    "4574": {
      "vault": "0",
      "unrealized": "0.044609"
    },
    "4585": {
      "vault": "0.075576",
      "unrealized": "0"
    },
    "4586": {
      "vault": "0",
      "unrealized": "0.034224"
    },
    "4589": {
      "vault": "0",
      "unrealized": "38.592858"
    },
    "4608": {
      "vault": "0",
      "unrealized": "49.347299"
    },
    "4617": {
      "vault": "0",
      "unrealized": "1.023015"
    },
    "4626": {
      "vault": "0",
      "unrealized": "175.549802"
    },
    "4629": {
      "vault": "0",
      "unrealized": "5.444974"
    },
    "4652": {
      "vault": "0",
      "unrealized": "9.614128"
    },
    "4654": {
      "vault": "0",
      "unrealized": "25.525399"
    },
    "4656": {
      "vault": "0",
      "unrealized": "14.001128"
    },
    "4660": {
      "vault": "5.565678",
      "unrealized": "139.619167"
    },
    "4682": {
      "vault": "523.888338",
      "unrealized": "0"
    },
    "4705": {
      "vault": "0",
      "unrealized": "25.268989"
    },
    "4708": {
      "vault": "0",
      "unrealized": "5.761892"
    },
    "4721": {
      "vault": "0",
      "unrealized": "85.395715"
    },
    "4725": {
      "vault": "195.710046",
      "unrealized": "0"
    },
    "4750": {
      "vault": "0.087105",
      "unrealized": "0"
    },
    "4761": {
      "vault": "0",
      "unrealized": "569.292733"
    },
    "4765": {
      "vault": "8.825085",
      "unrealized": "0"
    },
    "4769": {
      "vault": "1.981783",
      "unrealized": "0"
    },
    "4776": {
      "vault": "0",
      "unrealized": "24440.64077"
    },
    "4785": {
      "vault": "0",
      "unrealized": "493.642936"
    },
    "4787": {
      "vault": "0",
      "unrealized": "105.363867"
    },
    "4805": {
      "vault": "41.002389",
      "unrealized": "53.749737"
    },
    "4808": {
      "vault": "0",
      "unrealized": "35.774966"
    },
    "4810": {
      "vault": "37.860551",
      "unrealized": "0"
    },
    "4817": {
      "vault": "0",
      "unrealized": "4553.842994"
    },
    "4818": {
      "vault": "0",
      "unrealized": "6.707269"
    },
    "4876": {
      "vault": "0",
      "unrealized": "23.194697"
    },
    "4905": {
      "vault": "2.026742",
      "unrealized": "0"
    },
    "4908": {
      "vault": "0",
      "unrealized": "0.719042"
    },
    "4945": {
      "vault": "0",
      "unrealized": "30.890691"
    },
    "4958": {
      "vault": "1935.70088",
      "unrealized": "0"
    },
    "4959": {
      "vault": "0",
      "unrealized": "71.753171"
    },
    "4968": {
      "vault": "38.891777",
      "unrealized": "877.458261"
    },
    "4979": {
      "vault": "0.066396",
      "unrealized": "0"
    },
    "4982": {
      "vault": "3.126411",
      "unrealized": "0"
    },
    "4985": {
      "vault": "391.646522",
      "unrealized": "335.234891"
    },
    "4992": {
      "vault": "384.780368",
      "unrealized": "7.480081"
    },
    "5005": {
      "vault": "0.355893",
      "unrealized": "0"
    },
    "5013": {
      "vault": "19.527338",
      "unrealized": "0"
    },
    "5049": {
      "vault": "0",
      "unrealized": "41.828752"
    },
    "5061": {
      "vault": "0.422438",
      "unrealized": "0"
    },
    "5070": {
      "vault": "0",
      "unrealized": "181.7885"
    },
    "5072": {
      "vault": "0",
      "unrealized": "66.354704"
    },
    "5103": {
      "vault": "0",
      "unrealized": "5.12124"
    },
    "5124": {
      "vault": "0",
      "unrealized": "98.458376"
    },
    "5128": {
      "vault": "0",
      "unrealized": "137.298685"
    },
    "5130": {
      "vault": "0",
      "unrealized": "144.361699"
    },
    "5135": {
      "vault": "0.117282",
      "unrealized": "0"
    },
    "5137": {
      "vault": "0",
      "unrealized": "86.883762"
    },
    "5156": {
      "vault": "0",
      "unrealized": "3.787377"
    },
    "5158": {
      "vault": "0",
      "unrealized": "80.119491"
    },
    "5160": {
      "vault": "8.541062",
      "unrealized": "0"
    },
    "5162": {
      "vault": "8.927366",
      "unrealized": "0"
    },
    "5167": {
      "vault": "0",
      "unrealized": "5.120991"
    },
    "5168": {
      "vault": "0",
      "unrealized": "177.872335"
    },
    "5194": {
      "vault": "668.914208",
      "unrealized": "1132.944811"
    },
    "5196": {
      "vault": "3.898729",
      "unrealized": "0"
    },
    "5249": {
      "vault": "0",
      "unrealized": "5.750829"
    },
    "5252": {
      "vault": "41.956205",
      "unrealized": "0"
    },
    "5257": {
      "vault": "0",
      "unrealized": "4.53094"
    },
    "5262": {
      "vault": "0",
      "unrealized": "206.314327"
    },
    "5277": {
      "vault": "0",
      "unrealized": "1095.356308"
    },
    "5287": {
      "vault": "19.506075",
      "unrealized": "0"
    },
    "5288": {
      "vault": "0",
      "unrealized": "992.555167"
    },
    "5289": {
      "vault": "0",
      "unrealized": "7.779554"
    },
    "5294": {
      "vault": "0",
      "unrealized": "37.43638"
    },
    "5295": {
      "vault": "0.413527",
      "unrealized": "0"
    },
    "5296": {
      "vault": "0.436929",
      "unrealized": "0"
    },
    "5299": {
      "vault": "0.433032",
      "unrealized": "0"
    },
    "5305": {
      "vault": "0.421352",
      "unrealized": "0"
    },
    "5306": {
      "vault": "0.477794",
      "unrealized": "0"
    },
    "5307": {
      "vault": "0.528354",
      "unrealized": "0"
    },
    "5316": {
      "vault": "39.795478",
      "unrealized": "0"
    },
    "5321": {
      "vault": "7.832242",
      "unrealized": "0"
    },
    "5327": {
      "vault": "0",
      "unrealized": "18.199006"
    },
    "5333": {
      "vault": "0",
      "unrealized": "83.822545"
    },
    "5344": {
      "vault": "1316.167539",
      "unrealized": "0"
    },
    "5345": {
      "vault": "683.388802",
      "unrealized": "0"
    },
    "5402": {
      "vault": "0",
      "unrealized": "8.541962"
    },
    "5473": {
      "vault": "0",
      "unrealized": "36.272636"
    },
    "5479": {
      "vault": "0",
      "unrealized": "286.393531"
    },
    "5481": {
      "vault": "0",
      "unrealized": "6.010461"
    },
    "5506": {
      "vault": "0",
      "unrealized": "7.841737"
    },
    "5521": {
      "vault": "0",
      "unrealized": "165.54721"
    },
    "5527": {
      "vault": "0",
      "unrealized": "0.000757"
    },
    "5528": {
      "vault": "0",
      "unrealized": "444.368999"
    },
    "5540": {
      "vault": "0",
      "unrealized": "39.773811"
    },
    "5542": {
      "vault": "0",
      "unrealized": "0.70396"
    },
    "5544": {
      "vault": "0",
      "unrealized": "1529.901284"
    },
    "5545": {
      "vault": "0",
      "unrealized": "2704.575298"
    },
    "5567": {
      "vault": "0",
      "unrealized": "4.057789"
    },
    "5598": {
      "vault": "0",
      "unrealized": "1.247683"
    },
    "5617": {
      "vault": "0",
      "unrealized": "8.702855"
    },
    "5629": {
      "vault": "0",
      "unrealized": "2147.516963"
    },
    "5632": {
      "vault": "0",
      "unrealized": "101.734233"
    },
    "5637": {
      "vault": "0",
      "unrealized": "35.938042"
    },
    "5655": {
      "vault": "0",
      "unrealized": "131.085151"
    },
    "5656": {
      "vault": "0",
      "unrealized": "1078.373186"
    },
    "5686": {
      "vault": "0",
      "unrealized": "45.614937"
    },
    "5736": {
      "vault": "0",
      "unrealized": "116.868249"
    },
    "5833": {
      "vault": "0",
      "unrealized": "0.708132"
    },
    "5835": {
      "vault": "0",
      "unrealized": "789.539554"
    },
    "5842": {
      "vault": "0",
      "unrealized": "147.870281"
    }
  }
}
