[package]
name          = "dango-types"
version       = { workspace = true }
authors       = { workspace = true }
edition       = { workspace = true }
rust-version  = { workspace = true }
documentation = { workspace = true }
repository    = { workspace = true }
license       = { workspace = true }
categories    = { workspace = true }

[dependencies]
anyhow                     = { workspace = true }
borsh                      = { workspace = true, features = ["derive"] }
byteorder                  = { workspace = true }
data-encoding              = { workspace = true }
grug                       = { workspace = true }
hex-literal                = { workspace = true }
optional_struct            = { workspace = true }
pyth-sdk                   = { workspace = true }
pyth-wormhole-attester-sdk = { workspace = true }
pythnet-sdk                = { workspace = true }
paste                      = { workspace = true }
serde                      = { workspace = true, features = ["derive"] }
serde_json                 = { workspace = true }
thiserror                  = { workspace = true }

[dev-dependencies]
tokio = { workspace = true }
