[package]
authors       = { workspace = true }
categories    = { workspace = true }
documentation = { workspace = true }
edition       = { workspace = true }
license       = { workspace = true }
name          = "dango-types"
repository    = { workspace = true }
rust-version  = { workspace = true }
version       = { workspace = true }

[dependencies]
anyhow          = { workspace = true }
borsh           = { workspace = true, features = ["derive"] }
byteorder       = { workspace = true }
data-encoding   = { workspace = true }
grug            = { workspace = true }
hyperlane-types = { workspace = true }
paste           = { workspace = true }
pyth-types      = { workspace = true }
serde           = { workspace = true, features = ["derive"] }
serde_json      = { workspace = true }
thiserror       = { workspace = true }

[dev-dependencies]
tokio = { workspace = true }
