[package]
authors       = { workspace = true }
categories    = { workspace = true }
documentation = { workspace = true }
edition       = { workspace = true }
license       = { workspace = true }
name          = "dango-cli"
repository    = { workspace = true }
rust-version  = { workspace = true }
version       = { workspace = true }

[features]
default = []
testing = ["pyth-client", "pyth-types", "tokio-stream"]

[dependencies]
anyhow                      = { workspace = true }
bip32                       = { workspace = true }
clap                        = { workspace = true, features = ["derive", "wrap_help"] }
colored                     = { workspace = true }
colored_json                = { workspace = true }
config-parser               = { workspace = true }
dango-client                = { workspace = true }
dango-genesis               = { workspace = true }
dango-httpd                 = { workspace = true, features = ["metrics"] }
dango-indexer-clickhouse    = { workspace = true, features = ["async-graphql", "metrics", "tracing"] }
dango-indexer-sql           = { workspace = true, features = ["async-graphql", "metrics", "tracing"] }
dango-proposal-preparer     = { workspace = true, features = ["metrics"] }
dango-types                 = { workspace = true }
data-encoding               = { workspace = true }
dialoguer                   = { workspace = true }
futures                     = { workspace = true }
grug-app                    = { workspace = true, features = ["abci", "tracing"] }
grug-client                 = { workspace = true }
grug-db-disk-lite           = { workspace = true }
grug-httpd                  = { workspace = true }
grug-types                  = { workspace = true }
grug-vm-hybrid              = { workspace = true }
hex                         = { workspace = true }
home                        = { workspace = true }
indexer-hooked              = { workspace = true, features = ["metrics", "tracing"] }
indexer-httpd               = { workspace = true, features = ["metrics", "tracing"] }
indexer-sql                 = { workspace = true, features = ["async-graphql", "http-request-details", "metrics", "tracing"] }
metrics-exporter-prometheus = { workspace = true }
pyth-client                 = { workspace = true, optional = true }
pyth-types                  = { workspace = true, optional = true }
rand                        = { workspace = true }
sentry                      = { workspace = true }
serde                       = { workspace = true }
tendermint                  = { workspace = true }
tokio                       = { workspace = true }
tokio-stream                = { workspace = true, optional = true }
tower                       = { workspace = true, features = ["full"] }
tower-abci                  = { workspace = true }
tracing                     = { workspace = true }
tracing-subscriber          = { workspace = true }

[[bin]]
name = "dango"
path = "src/main.rs"
