[package]
name          = "dango-cli"
version       = { workspace = true }
authors       = { workspace = true }
edition       = { workspace = true }
rust-version  = { workspace = true }
documentation = { workspace = true }
repository    = { workspace = true }
license       = { workspace = true }
categories    = { workspace = true }

[[bin]]
name = "dango"
path = "src/main.rs"

[features]
indexer = ["indexer-core"]

[dependencies]
anyhow             = { workspace = true }
clap               = { workspace = true, features = ["derive", "wrap_help"] }
colored            = { workspace = true }
colored_json       = { workspace = true }
dango-app          = { workspace = true }
dialoguer          = { workspace = true }
grug-app           = { workspace = true, features = ["abci", "tracing"] }
grug-client        = { workspace = true }
grug-db-disk       = { workspace = true }
grug-jmt           = { workspace = true }
grug-types         = { workspace = true }
grug-vm-wasm       = { workspace = true }
hex                = { workspace = true }
home               = { workspace = true }
serde              = { workspace = true }
tokio              = { workspace = true }
tower              = { workspace = true, features = ["full"] }
tower-abci         = { workspace = true }
tracing            = { workspace = true }
tracing-subscriber = { workspace = true }
indexer-core       = { workspace = true, optional = true }
