{%- set _ns = namespace(ub={}, rb={}) -%}
{%- for b in (points_bot_user_boosts[network] | default([])) -%}
{%-   set _ns.ub = _ns.ub | combine({ b.user: ((_ns.ub[b.user] | default({})) | combine({ b.epoch: b.multiplier })) }) -%}
{%- endfor -%}
{%- for b in (points_bot_referral_boosts[network] | default([])) -%}
{%-   set _ns.rb = _ns.rb | combine({ b.user: ((_ns.rb[b.user] | default({})) | combine({ b.epoch: b.multiplier })) }) -%}
{%- endfor -%}
{
  "block_task": {
    "initial_loops": 2,
    "max_loops": 100,
    "timeout": "30s"
  },
  "bot": {
    "epoch_duration": "10m",
    "event_duration": 20000,
    "event_start": {
      "block": 18290000
    },
    "from_block": 18280000,
    "loot_tables": {{ (points_bot_loot_tables[network] | default({})) | to_nice_json(indent=2) | indent(4) }},
    "perps_expression": "1 + max(0.0, math::log10(x))",
    "epoch_perps_share": "7500",
    "epoch_vault_points": "2500",
    "leaderboard_timeframes": [1, 2, 4],
    "blacklist": {{ (points_bot_blacklist[network] | default([])) | to_nice_json(indent=2) | indent(4) }}
  },
  "http_url": "https://api-testnet.dango.zone",
  "httpd": {
    "register_cache_delta": "1m",
    "rest_url": "0.0.0.0:8080",
    "leaderboard_refresh_interval": "1m",
    "predict_points_refresh_interval": "2m"
  },
  "log_level": "info",
  "referral": {
    "direct_share": "0.2",
    "indirect_share": "0.05"
  },
  "boost": {
    "oat": {
      "multiplier": "1",
      "window": "2weeks"
    },
    "user": {{ _ns.ub | to_nice_json(indent=2) | indent(4) }},
    "referral": {{ _ns.rb | to_nice_json(indent=2) | indent(4) }},
    "pair": {
      "perp/xauusd":{
        "8630-": "2"
      },
      "perp/xagusd":{
        "8630-": "2"
      }
    },
    "hunted": {
      "bronze_shell": { "8730-": "1.25" },
      "silver_shell": { "8730-": "1.5" },
      "golden_shell": { "8730-": "2" },
      "pearl_dango":  { "8730-": "2.5" }
    }
  }
}
