{
  "block_task": {
    "initial_loops": 2,
    "max_loops": 100,
    "timeout": "30s"
  },
  "bot": {
    "epoch_duration": "10m",
    "event_duration": 8640,
    "event_start": {
      "block": 18290000
    },
    "from_block": 18280000,
    "loot_tables": {
      "25000": {
        "chest": "bronze",
        "drop_rate": [
          ["70", "common"],
          ["20", "uncommon"],
          ["8", "rare"],
          ["1.5", "epic"],
          ["0.45", "legendary"],
          ["0.05", "mythic"]
        ]
      },
      "100000": {
        "chest": "silver",
        "drop_rate": [
          ["45", "common"],
          ["30", "uncommon"],
          ["15", "rare"],
          ["7", "epic"],
          ["2.5", "legendary"],
          ["0.5", "mythic"]
        ]
      },
      "250000": {
        "chest": "gold",
        "drop_rate": [
          ["25", "common"],
          ["25", "uncommon"],
          ["20", "rare"],
          ["17", "epic"],
          ["9", "legendary"],
          ["4", "mythic"]
        ]
      },
      "500000": {
        "chest": "crystal",
        "drop_rate": [
          ["5", "common"],
          ["10", "uncommon"],
          ["25", "rare"],
          ["25", "epic"],
          ["25", "legendary"],
          ["10", "mythic"]
        ]
      }
    },
    "oat_multiplier": "1",
    "oat_window": "2weeks",
    "perps_expression": "1 + max(0.0, math::log10(x))",
    "epoch_perps_share": "7500",
    "epoch_vault_points": "2500",
    "leaderboard_timeframes": [1, 2, 4],
    "blacklist": {{ (points_bot_blacklist[network] | default([])) | to_nice_json(indent=2) | indent(4) }}
  },
  "http_url": "https://api-testnet.dango.zone",
  "httpd": {
    "register_cache_delta": "1m",
    "rest_url": "0.0.0.0:8080",
    "leaderboard_refresh_interval": "1m",
    "predict_points_refresh_interval": "2m"
  },
  "log_level": "info",
  "referral": {
    "direct_share": "0.2",
    "indirect_share": "0.05",
    "referral_boosts": {{ (points_bot_referral_boosts[network] | default({})) | to_nice_json(indent=2) | indent(4) }}
  },
  "user_boosts": {{ (points_bot_user_boosts[network] | default({})) | to_nice_json(indent=2) | indent(2) }}
}
