# Editors
.idea/
.vscode/

# Rust
artifacts/
target/

# Data used in testing
**/testdata/
**/proptest-regressions/

# macOS
**/.DS_Store

# Node.js
**/node_modules
**/tsconfig.tsbuildinfo
**/build
**/.turbo

# SDK
sdk/docs

# UI
**/.next
**/.vercel
next-env.d.ts
*storybook.log
**/storybook-static

# Envs
**/.env

# Workers
**/.wrangler

# Database
indexer/.data

# Solidity
cache/
dependencies/
out/

# Python
**/.ipynb_checkpoints/
