# editors
.idea/
.vscode/

# rust
**/target/
**/artifacts/

# javascript
**/dist/
**/node_modules/
**/.yarn/
sdk/js/docs/

# data for test purpose
**/testdata/
**/proptest-regressions/

# macOS
**/.DS_Store
