# Editors
.idea/
.vscode/

# Rust
artifacts/
target/

# Data used in testing
**/testdata/
**/proptest-regressions/
**/*.proptest-regressions

# macOS
**/.DS_Store

# Node.js
**/node_modules
**/tsconfig.tsbuildinfo
**/build
!ui/portal/app/.eas/build/
**/.turbo

# SDK
sdk/docs

# UI
**/.next
**/.vercel
next-env.d.ts
*storybook.log
**/storybook-static
**/.expo
app.pages.ts

# Envs
**/.env
**/*.vars

# Workers
**/.wrangler

# Python
**/.ipynb_checkpoints/

# LaTeX
**/*.log
book/papers/**/*.aux
book/papers/**/*.bbl
book/papers/**/*.bcf
book/papers/**/*.blg
book/papers/**/*.out
book/papers/**/*.pdf
book/papers/**/*.run.xml
book/papers/**/*.synctex.gz
