[submodule "dependencies/hyperlane-monorepo"]
	path = dependencies/hyperlane-monorepo
	url = https://github.com/hyperlane-xyz/hyperlane-monorepo
[submodule "dango/hyperlane-deployment/hyperlane-monorepo"]
	path = dango/hyperlane-deployment/hyperlane-monorepo
	url = git@github.com:hyperlane-xyz/hyperlane-monorepo.git
