- name: Ensure directories exists
  file:
    path: "{{ item }}"
    state: directory
    mode: '0755'
  loop: ["{{ promtail_dir }}/config"]

- name: Copy files
  become: true
  become_user: root
  block:
    - template:
        src: "{{ item.src }}"
        dest: "{{ item.dest }}"
        owner: "{{ deploy_user }}"
      loop:
        - { src: "{{ playbook_dir }}/roles/promtail/templates/promtail-config.yml", dest: "{{ promtail_dir }}/config/promtail-config.yml" }
        - { src: "{{ playbook_dir }}/roles/promtail/templates/docker-compose.yml", dest: "{{ promtail_dir }}/docker-compose.yml" }

- name: Launch Promtail
  community.docker.docker_compose_v2:
    project_src: "{{ promtail_dir }}"
    pull: missing
    state: present
