# Delete existing
# - name: Stop and remove old Postgres container
#   community.docker.docker_container:
#     name: "{{ container_name }}"
#     state: absent
#
# - name: ✂️ Delete host data directory so Postgres re-initializes
#   become: true
#   become_user: root
#   ansible.builtin.file:
#     path: "{{ data_dir }}"
#     state: absent

- name: Abort if DB password is empty
  assert:
    that:
      - postgres_password is defined
      - postgres_password | length > 0
    fail_msg: "postgres_password must be set and non-empty, aborting deployment."

- name: Ensure directories exists
  file:
    path: "{{ item }}"
    state: directory
    mode: '0755'
  loop: ["{{ config_dir }}"]

- name: Write .env for docker-compose
  become: true
  become_user: root
  copy:
    dest: "{{ deploy_dir }}/.env"
    mode: "0600"
    owner: '{{ deploy_user }}'
    content: |
      CONTAINER_NAME=postgres
      PSQL_VERSION={{ psql_version }}
      POSTGRES_USER={{ postgres_user }}
      POSTGRES_PASSWORD={{ postgres_password }}
      TAILSCALE_IP={{ tailscale_ip }}
      HOST_PORT={{ host_port }}
      DATA_DIR={{ data_dir }}
      CONFIG_DIR={{ config_dir }}

- name: Copy docker-compose.yml
  become: true
  become_user: root
  copy:
    src: files/docker-compose.yml
    dest: "{{ deploy_dir }}/docker-compose.yml"
    mode: '0644'
    owner: '{{ deploy_user }}'

- name: Copy postgres config
  become: true
  become_user: root
  copy:
    src: "{{ item }}"
    dest: "{{ config_dir }}/{{ item }}"
    mode: '0644'
    owner: '{{ deploy_user }}'
  loop:
    - postgresql.conf
    - init.sql

- name: Configure kernel parameters for memory optimization
  sysctl:
    name: "{{ item.key }}"
    value: "{{ item.value }}"
    state: present
    reload: yes
  loop:
    - { key: 'vm.swappiness', value: '1' }
    - { key: 'vm.vfs_cache_pressure', value: '50' }
  become: true
  become_user: root

- name: Create postgres network
  docker_network:
    name: postgres

- name: Pre-pull images (avoid downtime while pulling)
  community.docker.docker_image:
    name: "{{ item }}"
    source: pull
  loop:
    - "postgres:{{ psql_version }}"
    - "prometheuscommunity/postgres-exporter:latest"

- name: Start postgres stack
  community.docker.docker_compose_v2:
    project_src: "{{ deploy_dir }}"
    pull: always
    recreate: always
    remove_orphans: true
    wait: true
    wait_timeout: 300
