# Delete existing
# - name: Stop and remove old Postgres container
#   community.docker.docker_container:
#     name: "{{ container_name }}"
#     state: absent
#
# - name: ✂️ Delete host data directory so Postgres re-initializes
#   become: true
#   become_user: root
#   ansible.builtin.file:
#     path: "{{ data_dir }}"
#     state: absent

- name: Abort if DB password is empty
  assert:
    that:
      - db_password is defined
      - db_password | length > 0
    fail_msg: "DB_PASSWORD must be set and non-empty, aborting deployment."

- name: Ensure directories exists
  file:
    path: "{{ item }}"
    state: directory
    mode: '0755'
  loop: ["{{ config_dir }}", "{{ data_dir }}"]

- name: Copy postgres config
  become: true
  become_user: root
  copy:
    src: "{{ item }}"
    dest: "{{ config_dir }}/{{ item }}"
    mode: '0644'
    owner: '{{ deploy_user }}'
  loop:
    - postgresql.conf
    - init.sql

- name: Deploy postgres container
  docker_container:
    name: "{{ container_name }}"
    image: "postgres:{{ psql_version }}"
    restart_policy: unless-stopped
    state: started
    command: ["postgres", "-c", "config_file=/etc/postgresql/postgresql.conf"]
    env:
      POSTGRES_USER: "{{ lookup('env','DB_USER', default='postgres') }}"
      POSTGRES_PASSWORD: "{{ db_password }}"
    volumes:
      - "{{ data_dir }}:/var/lib/postgresql/data"
      - "{{ config_dir }}/postgresql.conf:/etc/postgresql/postgresql.conf"
      - "{{ config_dir }}/init.sql:/docker-entrypoint-initdb.d/init.sql"
    healthcheck:
      test: ["CMD", "pg_isready", "-q"]
      interval: 2s
      timeout: 5s
      retries: 10
