# ========= EVM Hyperlane Warp Route Deployment =======

EVM_MNEMONIC="word1 word2 word3 ..." # 12 word mnemonic for an EOA with funds to deploy Hyperlane Warp Routes on Sepolia
INFURA_API_KEY= # Infura api
