- name: Ensure directories exists
  file:
    path: "{{ item }}"
    state: directory
    mode: '0755'
  loop:
    - "{{ loki_dir }}/config"
    - "{{ loki_dir }}/data"
    - "{{ loki_dir }}/data/rules"
    - "{{ loki_dir }}/data/rules/fake"

- name: Copy files
  become: true
  become_user: root
  block:
    - template:
        src: "{{ item.src }}"
        dest: "{{ item.dest }}"
        owner: "{{ deploy_user }}"
      loop:
        - { src: "{{ playbook_dir }}/roles/loki/templates/loki-config.yml", dest: "{{ loki_dir }}/config/loki-config.yml" }
        - { src: "{{ playbook_dir }}/roles/promtail/templates/promtail-config.yml", dest: "{{ loki_dir }}/config/promtail-config.yml" }
        - { src: "{{ playbook_dir }}/roles/loki/templates/docker-compose.yml", dest: "{{ loki_dir }}/docker-compose.yml" }
        - { src: "{{ playbook_dir }}/roles/loki/templates/rules/loki-error-alerts.yml", dest: "{{ loki_dir }}/data/rules/fake/loki-error-alerts.yml" }

- name: Launch Loki
  community.docker.docker_compose_v2:
    project_src: "{{ loki_dir }}"
    pull: missing
    state: present
    recreate: always

- name: Install systemd unit for Loki compose
  become: true
  become_user: root
  template:
    src: loki-compose.service.j2
    dest: /etc/systemd/system/loki-compose.service
    mode: '0644'
  notify: Reload systemd

- name: Enable and start loki-compose service
  become: true
  become_user: root
  systemd:
    name: loki-compose.service
    enabled: true
    state: started
