@font-face {
  font-family: 'Exposure';
  font-style: italic;
  font-weight: 500;
  src: url(../files/Exposure-10-Italic-205TF.woff2) format('woff2'),
    url(../files/Exposure-10-Italic-205TF.woff) format('woff');
}
