[package]
authors       = { workspace = true }
categories    = { workspace = true }
description   = "Rust client for interacting with Grug via the indexer GraphQL server"
documentation = { workspace = true }
edition       = { workspace = true }
license       = { workspace = true }
name          = "indexer-client"
repository    = { workspace = true }
rust-version  = { workspace = true }
version       = { workspace = true }

[features]
tracing = ["dep:tracing"]

[dependencies]
anyhow         = { workspace = true }
async-trait    = { workspace = true }
graphql_client = { workspace = true }
grug-types     = { workspace = true, features = ["tendermint"] }
paste          = { workspace = true }
reqwest        = { workspace = true, features = ["json"] }
serde          = { workspace = true }
tendermint-rpc = { workspace = true }
tracing        = { workspace = true, optional = true }

[dev-dependencies]
tokio = { workspace = true }
