---
- name: Validate relayer secrets exist in vault
  assert:
    that:
      - relayer is defined
      - relayer[hyperlane_agents_network] is defined
    fail_msg: >-
      Missing relayer secrets in vault. Expected:
      relayer[{{ hyperlane_agents_network }}]

- name: Render relayer env file
  template:
    src: "relayer-{{ hyperlane_agents_network }}.env.j2"
    dest: "{{ hyperlane_instance_dir }}/.env"
    mode: "0600"

- name: Copy relayer base config
  copy:
    src: relayer-config.json
    dest: "{{ hyperlane_agents_dir }}/relayer-config.json"
    mode: "0644"

- name: Copy relayer network config
  copy:
    src: "relayer-{{ hyperlane_agents_network }}-config.json"
    dest: "{{ hyperlane_agents_dir }}/relayer-{{ hyperlane_agents_network }}-config.json"
    mode: "0644"

- name: Deploy Hyperlane docker-compose for relayer
  copy:
    src: docker-compose-relayer.yml
    dest: "{{ hyperlane_instance_dir }}/docker-compose.yml"
    mode: "0644"
