@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'ABCDiatypeRounded';
}

.header {
  width: 200%;
  mask-position: bottom center;
  mask-repeat: no-repeat;
  mask-size: 115%;
  mask-image: url("./images/header-mask.svg");
  mask-mode: alpha;
}

@media screen and (min-width: 768px) {
  .header {
    width: 100%;
  }
}
