@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'ABCDiatypeRounded';
}

.header {
  background: linear-gradient(90deg, #D88E96, #C4B7BA);
  --mask:
    linear-gradient(to top, #0000 99px, #000 0),
    radial-gradient(85px, #000 98%, #0000) bottom / 125px 220px;
  -webkit-mask: var(--mask);
  mask: var(--mask);
}
