@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'ABCDiatypeRounded';
}

.header {
  width: 200%;
  mask-position: bottom center;
  mask-repeat: no-repeat;
  mask-size: 115%;
  mask-image: url("./images/header-mask.svg");
  mask-mode: alpha;
}

@media screen and (min-width: 768px) {
  .header {
    width: 100%;
  }
}

.header-login {
  background: linear-gradient(90deg, #C2D0C9 0%, #93A4C8 100%);
}

.header-signup {
  background: linear-gradient(90deg, #D88E96 0%, #C4B7BA 100%);
}
