@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'ABCDiatypeRounded';
}

.header {
  --mask:
    linear-gradient(to top, #0000 99px, #000 0),
    radial-gradient(85px, #000 98%, #0000) bottom / 125px 220px;
  -webkit-mask: var(--mask);
  mask: var(--mask);
}

.header-login {
  background: linear-gradient(90deg, #93A4C8 0%, #C2D0C9 100%);
}

.header-signup {
  background: linear-gradient(90deg, #D88E96, #C4B7BA);
}
