- name: Create CNAME records
  community.general.cloudflare_dns:
    zone: "{{ dango_domain }}"
    record: "{{ item }}-{{ dango_network }}-{{ hostname }}"
    type: CNAME
    value: "{{ hostname }}.{{ dango_domain }}."
    api_token: "{{ cloudflare_api_token }}"
  loop: ["www", "api", "faucet", "cometbft"]
  # other networks will use cloudflare tunnels instead of direct cnames
  when: dango_network is match('^pr-')
