- block:
    - name: Create Backblaze bucket if missing
      amazon.aws.s3_bucket:
        name: "{{ s3_bucket }}"
        state: present
        endpoint_url: "{{ s3_endpoint }}"
        aws_access_key: "{{ s3_access_key }}"
        aws_secret_key: "{{ s3_secret_key }}"

    - name: Install b2 delete buckets script
      copy:
        src: delete_b2_buckets.sh
        dest: "{{ ansible_facts['env']['HOME'] }}/delete_b2_buckets.sh"
        mode: '0755'
  run_once: true
