- block:
    - name: Install boto3 and botocore from apt
      ansible.builtin.apt:
        name:
          - python3-boto3
          - python3-botocore
        state: present
        update_cache: yes
      become: true
      become_user: root

    - name: Create Backblaze bucket if missing
      amazon.aws.s3_bucket:
        name: "{{ s3_bucket }}"
        state: present
        endpoint_url: "{{ s3_endpoint }}"
        aws_access_key: "{{ s3_access_key }}"
        aws_secret_key: "{{ s3_secret_key }}"

    - name: Install b2 delete buckets script
      become: true
      become_user: root
      copy:
        src: delete_b2_buckets.sh
        dest: /usr/local/bin/delete_b2_buckets.sh
        mode: '0755'
  run_once: true
