- name: Check if current_deployment directory exists
  when: current_deployment is defined
  stat:
    path: "{{ ansible_facts['env']['HOME'] }}/deployments/{{ current_deployment }}"
  register: current_deploy_path
  changed_when: false
  failed_when: false

- name: Remove S3 sync cron job for old deployment
  ansible.builtin.cron:
    name: "dango s3 sync - {{ current_deployment }}"
    state: absent
  when:
    - current_deployment | default('') | length > 0

- name: Clean old deployment
  when:
    - current_deployment | default('') | length > 0
    - current_deploy_path.stat.exists | default(false)
  block:
    - name: Clean up old deployment
      community.docker.docker_compose_v2:
        project_name: "{{ current_deployment }}"
        project_src: "{{ ansible_facts['env']['HOME'] }}/deployments/{{ current_deployment }}"
        state: absent
        remove_orphans: yes
        remove_volumes: yes
      ignore_errors: true

    - name: Remove deployment directory
      command: /usr/bin/sudo /usr/local/sbin/dango-cleanup-deployment "{{ current_deployment }}"
      register: cleanup_old_deploy_dir
      changed_when: cleanup_old_deploy_dir.stdout == "deleted"
      failed_when: cleanup_old_deploy_dir.rc != 0

    - name: Prune unused Docker resources
      community.docker.docker_prune:
        containers: yes
        images: yes
        networks: yes
        volumes: yes
        builder_cache: yes
      ignore_errors: true
    - name: Log old deployment cleanup
      community.general.syslogger:
        msg: "[{{ deployment_name }}] Deleted old deployment {{ current_deployment | default('unknown') }} (Postgres={{ delete_postgres_database_at_merge | default(false) }}, ClickHouse={{ delete_clickhouse_database_at_merge | default(false) }})"
        facility: local0
        priority: info
        ident: dango
