- set_fact:
    indexer_url: "https://api-{{ dango_network }}-{{ hostname }}.{{ dango_domain }}"
    faucet_url: "https://faucet-{{ dango_network }}-{{ hostname }}.{{ dango_domain }}"
    quest_url: "https://quest-{{ dango_network }}-{{ hostname }}.{{ dango_domain }}/to_fix"
    up_url: "https://api-{{ dango_network }}-{{ hostname }}.{{ dango_domain }}/up"
  when: not traefik_enabled

- set_fact:
    indexer_url: "https://api-{{ dango_network }}.{{ dango_domain }}"
    faucet_url: "https://faucet-{{ dango_network }}.{{ dango_domain }}"
    quest_url: "https://quest-{{ dango_network }}.{{ dango_domain }}/to_fix"
    up_url: "https://api-{{ dango_network }}.{{ dango_domain }}/up"
  when: traefik_enabled

- file:
    path: "{{ item }}"
    state: directory
  loop: ["{{ deployment_dir }}"]

- file:
    path: "{{ item }}"
    state: directory
  loop: ["{{ deployment_dir }}/cloudflared"]
  when: cloudflare_tunnel_enabled

- name: Deploy configuration files
  block:
    - template:
        src: "{{ item.src }}"
        dest: "{{ item.dest }}"
        mode: "{{ item.mode | default('0600') }}"
      loop:
        - { src: "config/cometbft/config.toml.j2", dest: "{{ cometbft_directory }}/config/config.toml" }
        - { src: "config/cometbft/node_key.json", dest: "{{ cometbft_directory }}/config/node_key.json" }
        - { src: "config/cometbft/priv_validator_key.json", dest: "{{ cometbft_directory }}/config/priv_validator_key.json" }
        - { src: "config/dango/app.toml", dest: "{{ dango_directory }}/config/app.toml" }
        - { src: "docker-compose.yml", dest: "{{ deployment_dir }}/docker-compose.yml" }
        - { src: "env.j2", dest: "{{ deployment_dir }}/.env" }
        - { src: "envrc.j2", dest: "{{ deployment_dir }}/.envrc" }
        - { src: "Makefile", dest: "{{ deployment_dir }}/Makefile", mode: "0644" }

- name: Check if network-specific genesis exists
  stat:
    path: "{{ role_path }}/templates/config/cometbft/genesis-{{ dango_network }}.json"
  register: network_genesis
  delegate_to: localhost
  become: false

- name: Copy network-specific genesis if it exists
  template:
    src: "config/cometbft/genesis-{{ dango_network }}.json"
    dest: "{{ cometbft_directory }}/config/genesis.json"
    mode: "0600"
  when: network_genesis.stat.exists

- name: Copy default genesis
  template:
    src: "config/cometbft/genesis.json"
    dest: "{{ cometbft_directory }}/config/genesis.json"
    mode: "0600"
  when: not network_genesis.stat.exists

- name: Deploy Cloudflare configuration files
  block:
    - template:
        src: "{{ item.src }}"
        dest: "{{ item.dest }}"
        mode: "{{ item.mode | default('0600') }}"
      loop:
        - { src: "cloudflared/config.yml", dest: "{{ deployment_dir }}/cloudflared/config.yml", mode: "0644" }
  when: cloudflare_tunnel_enabled

- name: Deploy Clickhouse configuration files
  block:
    - template:
        src: "{{ item.src }}"
        dest: "{{ deployment_dir }}/{{ item.dest }}"
      loop:
        - { src: "clickhouse/config.xml", dest: "clickhouse/config.xml" }
        - { src: "clickhouse/users.xml", dest: "clickhouse/users.xml" }
        - { src: "clickhouse/init.sh", dest: "clickhouse/init.sh" }
      when: deploy_includes_clickhouse
