- when: dango_network != "previewnet"
  block:
    - name: Update Traefik dynamic config
      template:
        src: traefik-services.yml
        dest: "{{ traefik_dir }}/config/{{ dango_network }}.yml"

    - name: Update deployment tracking file
      copy:
        content: |
          {
            "current_deployment": "{{ deployment_name }}",
            "deployed_at": "{{ ansible_facts['date_time']['iso8601'] }}"
          }

        dest: "{{ ansible_facts['env']['HOME'] }}/deployments/{{ dango_network }}.json"
