@font-face {
  font-family: 'ABCDiatypeRounded';
  font-style: normal;
  font-weight: 900;
  src: url(../files/ABCDiatypeRounded-Ultra.woff2) format('woff2'),
    url(../files/ABCDiatypeRounded-Ultra.woff) format('woff');
}
