# Chain to validate
HYP_ORIGINCHAINNAME="dangotestnet"

# AWS CREDENTIAL
AWS_ACCESS_KEY_ID="VALIDATOR_AWS_ACCESS_KEY_ID"
AWS_SECRET_ACCESS_KEY="VALIDATOR_AWS_SECRET_ACCESS_KEY"

# AWS KMS key alias
HYP_VALIDATOR_ID="alias/hyperlane-testnet-val1-singer-key"

# AWS Bucket
HYP_CHECKPOINTSYNCER_BUCKET="hyperlane-testnet-val1"

# Dango Chain Signer (replace ${CHAIN_NAME} with chain name (DANGOTESTNET/DANGO))
# User5 is used as example
HYP_CHAINS_${CHAIN_NAME}_SIGNER_KEY="fe55076e4b2c9ffea813951406e8142fefc85183ebda6222500572b0a92032a7"
HYP_CHAINS_${CHAIN_NAME}_SIGNER_ADDRESS="0xa20a0e1a71b82d50fc046bc6e3178ad0154fd184"
