@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "ABCDiatypeRounded", sans-serif;
}

.header {
  width: 200%;
  mask-position: bottom center;
  mask-repeat: no-repeat;
  background: linear-gradient(134deg, #c4b7ba 0%, #fff2e2 76.05%);
  mask-size: 115%;
  mask-image: url("/images/header-mask.svg");
  mask-mode: alpha;
}

@media screen and (min-width: 768px) {
  .header {
    width: 100%;
  }
}

.monkey {
  animation: levitate 3s ease-in-out infinite;
  animation-delay: 2.125s;
}

.snake {
  animation: levitate 3s ease-in-out infinite;
  animation-delay: 1.25s;
}

.rabbit {
  animation: levitate 3s ease-in-out infinite;
  animation-delay: 2.5s;
}

.dog {
  animation: levitate 3s ease-in-out infinite;
  animation-delay: 1.75s;
}

.dancer {
  animation: levitate 3s ease-in-out infinite;
  animation-delay: 0.125ms;
}

@keyframes levitate {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}

@keyframes scale-up {
  0% {
    transform: scale(0) translateY(500px);
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: scale(1) translateY(0px);
  }
}
