---
interface Props {
  className: string;
}

const { className } = Astro.props;
---

<footer class={"flex flex-col gap-10 items-center justify-center " + className}>
      <div class="flex gap-12 uppercase font-extrabold">
        <a href="https://x.com/leftCurveSoft" target="_blank" rel="noreferrer" class="uppercase">
          twitter
        </a>
          <a href="https://discord.gg/4uB9UDzYhz" target="_blank" rel="noreferrer" class="uppercase">
          discord
        </a>
      </div>
      <div class="flex items-center justify-between md:justify-center text-xs font-light md:gap-12 px-4 w-full">
        <a href="/" class="uppercase">terms of use</a>
        <a href="/" class="uppercase">cookie policy</a>
        <a href="/" class="uppercase">privacy policy</a>
      </div>
</footer>
