---
interface Props {
  className: string;
}
import DiscordIcon from "~/public/icons/discord.svg?raw";
import XIcon from "~/public/icons/x.svg?raw";
const { className } = Astro.props;
---

<footer
  class:list={[
    "flex flex-col gap-6 md:gap-10 items-center justify-center py-2 pb-12 md:pb-8",
    className,
  ]}
>
  <div class="flex gap-12 uppercase font-extrabold">
    <a
      href="https://x.com/leftCurveSoft"
      target="_blank"
      rel="noreferrer"
      class="text-typography-black-300 hover:bg-typography-purple-300/40 rounded-full p-2 transition-all"
    >
      <Fragment set:html={XIcon} />
    </a>
    <a
      href="https://discord.gg/4uB9UDzYhz"
      target="_blank"
      rel="noreferrer"
      class="text-typography-black-300 hover:bg-typography-purple-300/40 rounded-full p-2 transition-all"
    >
      <Fragment set:html={DiscordIcon} />
    </a>
  </div>
  <div
    class="flex items-center justify-between md:justify-center text-xs font-light md:gap-12 px-4 w-full"
  >
    <a href="/" class="uppercase">terms of use</a>
    <a href="/" class="uppercase">cookie policy</a>
    <a href="/" class="uppercase">privacy policy</a>
  </div>
</footer>
