[package]
name          = "grug-app"
version       = { workspace = true }
authors       = { workspace = true }
edition       = { workspace = true }
rust-version  = { workspace = true }
documentation = { workspace = true }
repository    = { workspace = true }
license       = { workspace = true }
categories    = { workspace = true }

[features]
abci    = ["data-encoding", "tower", "tower-abci"]
tracing = ["chrono", "dep:tracing"]

[dependencies]
borsh         = { workspace = true }
chrono        = { workspace = true, optional = true }
data-encoding = { workspace = true, optional = true }
grug-math     = { workspace = true }
grug-storage  = { workspace = true }
grug-types    = { workspace = true }
ics23         = { workspace = true }
prost         = { workspace = true }
serde         = { workspace = true }
tendermint    = { workspace = true }
tower         = { workspace = true, optional = true }
tower-abci    = { workspace = true, optional = true }
thiserror     = { workspace = true }
tracing       = { workspace = true, optional = true }
indexer-core  = { workspace = true }

[dev-dependencies]
