# This is a TOML config file.
# For more information, see https://github.com/toml-lang/toml

# Logging verbosity: error|warn|info|debug|trace.
log_level = "info"

# Logging format: text|json.
log_format = "text"

################################################################################
###                            Grug Configuration                            ###
################################################################################

[grug]

# Capacity of the wasm module cache; zero means to not use a cache.
wasm_cache_capacity = 1000

# Gas limit when serving query requests.
query_gas_limit = 100000000

[grug.db]

# Range of database keys that will be loaded into memory for better performance.
# Lower bound is inclusive, upper bound is exclusive.
#priority_range = [
# "7761736d8dd37b7e12d36bbe1c00ce9f0c341bfe1712e73f", # = b"wasm" + dex_contract_address
# "7761736d8dd37b7e12d36bbe1c00ce9f0c341bfe1712e740", # = b"wasm" + increment_last_byte(dex_contract_address)
#]

[grug.db.pruning]

# The interval of auto-pruning (i.e. perform a pruning every X versions).
# 0 means no auto-pruning.
interval = 0

# At each auto-pruning, how many recent versions to keep.
keep_recent = 25

# Whether to force an immediate database compaction when auto-pruning.
force_compact = false

################################################################################
###                          Indexer Configuration                           ###
################################################################################

[indexer]

# Whether to enable indexer.
enabled = true

# Whether to store block respnonses.
keep_blocks = true

[indexer.database]

# URL to the SQL database to be used by the indexer.
url = "postgres://postgres@db:5432/grug_dev"

# How many connections to keep in the connection pool.
max_connections = 10

[indexer.clickhouse]

# URL to the Clickhouse database to be used by the indexer.
url = "http://clickhouse:8123"

user = "default"

password = ""

database = "grug_dev"

[httpd]

# Whether to enable the HTTP server.
enabled = true

# IP address to listen on. `0.0.0.0` means all interfaces.
ip = "0.0.0.0"

# Port to listen on.
port = 8080

# Allowed origin for CORS.
#
# Wildcards are not supported here. To allow all origins, simply comment out
# this line.
#cors_allowed_origin = "*"

[metrics_httpd]

# Whether to enable the HTTP server.
enabled = true

# IP address to listen on. `0.0.0.0` means all interfaces.
ip = "0.0.0.0"

# Port to listen on.
port = 9191

################################################################################
###                         Tendermint Configuration                         ###
################################################################################

[tendermint]

# Tendermint RPC listening address.
rpc_addr = "http://cometbft:26657"

# Tendermint ABCI listening address.
abci_addr = "0.0.0.0:26658"

################################################################################
###                        Transaction Configuration                         ###
################################################################################

[transactions]

# Chain identifier.
chain_id = "dango-1"

# Scaling factor to apply to simulated gas consumption.
gas_adjustment = 1.4

################################################################################
###                          Sentry Configuration                            ###
################################################################################

[sentry]

# Whether to enable Sentry.
enabled = false

# DSN to use for Sentry.
dsn = "https://your-dsn-here"

# Environment to use for Sentry.
environment = "development"

# Sample rate for Sentry.
sample_rate = 1.0

# Traces sample rate for Sentry.
traces_sample_rate = 1.0

################################################################################
###                            Pyth Configuration                            ###
################################################################################

[pyth]

# Pyth Lazer endpoints. This is a Vec<String>.
# If the list is empty, Pyth Lazer oracle is disabled.
endpoints = [
  "wss://pyth-lazer-0.dourolabs.app/v1/stream",
  "wss://pyth-lazer-1.dourolabs.app/v1/stream",
]

# Pyth Lazer access token.
# If the string is empty, Pyth Lazer oracle is disabled.
access_token = ""
