@font-face {
  font-family: 'ABCDiatypeRounded';
  font-style: normal;
  font-weight: 700;
  src: url(../files/ABCDiatypeRounded-Heavy.woff2) format('woff2'),
    url(../files/ABCDiatypeRounded-Heavy.woff) format('woff');
}
