[defaults]
inventory    = inventory
forks        = 50
pipelining   = True
vault_password_file = ./scripts/vault-password.sh
vault_identity_list = default@./scripts/vault-password.sh, debian@./scripts/debian-password.sh
force_valid_group_names = ignore
deprecation_warnings = True
timeout      = 60

[ssh_connection]
ssh_args     = -o ControlMaster=auto -o ControlPersist=60s
retries      = 3
