[defaults]
inventory    = inventory
forks        = 50
pipelining   = True
vault_password_file = ./vault-password.sh
vault_identity_list = default@./vault-password.sh, debian@./debian-password.sh

[ssh_connection]
ssh_args     = -o ControlMaster=auto -o ControlPersist=60s
