[defaults]
inventory    = inventory
forks        = 50
pipelining   = True
vars_plugins_enabled = host_group_vars,community.sops.sops
force_valid_group_names = ignore
deprecation_warnings = True
timeout      = 60

[vars_host_group_vars]
stage = inventory

[community.sops]
vars_stage = inventory
vars_cache = true

[ssh_connection]
ssh_args     = -o ControlMaster=auto -o ControlPersist=60s
retries      = 3
