- hosts: cloudflared
  remote_user: "{{ deploy_user }}"
  vars:
    monitor_defs:
      # Removing graphiql because it takes spaces
      # - { name: "graphiql",    path: "/",       expect: "200" }
      - { name: "www",         path: "/",       expect: "200" }
      - { name: "api",         path: "/up",     expect: "200" }
      - { name: "faucet",      path: "/health", expect: "200" }
  roles:
    - cloudflared
