- hosts: db
  remote_user: "{{ deploy_user }}"
  collections:
    - community.docker
  roles:
    - postgres

- hosts: db
  remote_user: "debian"
  tasks:
    - name: Configure kernel parameters for memory optimization
      sysctl:
        name: "{{ item.key }}"
        value: "{{ item.value }}"
        state: present
        reload: yes
      loop:
        - { key: 'vm.swappiness', value: '1' }
        - { key: 'vm.vfs_cache_pressure', value: '50' }
      become: true
      become_user: root
