- hosts: full-app
  remote_user: "{{ deploy_user }}"
  collections:
    - community.general
  tasks:
    - name: Fail if s3_bucket is not defined
      assert:
        that: s3_bucket is defined and s3_bucket | length > 0
        fail_msg: "s3_bucket variable is missing"
        success_msg: "s3_bucket is set: {{ s3_bucket }}"
      run_once: true

    - block:
        - name: Install Backblaze b2 via pipx
          command: pipx install b2
          args:
            creates: "{{ ansible_facts['env']['HOME'] }}/.local/bin/b2"

        # NOTE: doing this because you can't delete a bucket which has files,
        # and removing files takes forever. So I set files to be deleted, and
        # we'll write a cron job to remove any empty buckets.
        - name: Set files to be deleted on Backblaze
          vars:
            hide_after_days: 1
            delete_after_days: 1
            lifecycle_prefix: ""
          command: >
            $HOME/.local/bin/b2 bucket update
            "{{ s3_bucket }}"
            allPrivate
            --lifecycle-rules '[{"fileNamePrefix":"{{ lifecycle_prefix }}",
                                 "daysFromUploadingToHiding":{{ hide_after_days }},
                                 "daysFromHidingToDeleting":{{ delete_after_days }}}]'
          environment:
            B2_APPLICATION_KEY_ID: "{{ s3_master_access_key }}"
            B2_APPLICATION_KEY: "{{ s3_master_secret_key }}"
      run_once: true
