- hosts: monitoring
  become: true
  become_user: "{{ deploy_user }}"
  collections:
    - community.docker
  pre_tasks:
    - name: Get deploy user info
      getent:
        database: passwd
        key: "{{ deploy_user }}"

    - name: Set deploy_home fact
      set_fact:
        deploy_home: "{{ ansible_facts.getent_passwd[deploy_user][4] }}"
  roles:
    - metabase
