- hosts: monitoring
  become: true
  become_user: "{{ deploy_user }}"
  remote_user: "debian"
  vars_files:
    - group_vars/debian/root_vault.yml
  vars:
    loki_url: "http://loki:3100"
  pre_tasks:
    - name: Create monitoring network
      community.docker.docker_network:
        name: monitoring
        state: present
  roles:
    - loki
    - prometheus
    - promtail
    - node-exporter
    - tempo
    - grafana
