- hosts: all
  become: true
  remote_user: debian
  vars_files:
    - group_vars/debian/root_vault.yml
  vars:
    swap_file_path: /swapfile
    swap_file_size_mb: '32768'
    ansible_ssh_common_args: >-
      -o IdentitiesOnly=yes
      -o IdentityFile=roles/users/files/authorized_keys/debian.pub
  collections:
    - community.docker
    - community.general
  roles:
    - common
    - users
    - docker
    - geerlingguy.swap

- hosts: all
  become: true
  become_user: "{{ deploy_user }}"
  vars:
    ansible_ssh_common_args: >-
      -o IdentitiesOnly=yes
      -o IdentityFile=roles/users/files/authorized_keys/debian.pub
  collections:
    - community.docker
    - community.general
  roles:
    - node-exporter
    - promtail

- hosts: full-app
  become: true
  remote_user: debian
  vars_files:
    - group_vars/debian/root_vault.yml
  vars:
    ansible_ssh_common_args: >-
      -o IdentitiesOnly=yes
      -o IdentityFile=roles/users/files/authorized_keys/debian.pub
  roles:
    - cosign
