- hosts: all
  remote_user: "{{ deploy_user }}"
  pre_tasks:
    - name: Create monitoring network
      community.docker.docker_network:
        name: monitoring
        state: present
  roles:
    - node-exporter
    - promtail

- hosts: all
  remote_user: debian
  become: true
  vars_files:
    - group_vars/debian/root_vault.yml
    - roles/node-exporter/defaults/main.yml
    - roles/promtail/defaults/main.yml
  tasks:
    - name: Install systemd unit for node-exporter compose
      template:
        src: roles/node-exporter/templates/node-exporter-compose.service.j2
        dest: /etc/systemd/system/node-exporter-compose.service
        mode: '0644'
      notify: Reload systemd

    - name: Enable and start node-exporter-compose service
      systemd:
        name: node-exporter-compose.service
        enabled: true
        state: started

    - name: Install systemd unit for Promtail compose
      template:
        src: roles/promtail/templates/promtail-compose.service.j2
        dest: /etc/systemd/system/promtail-compose.service
        mode: '0644'
      notify: Reload systemd

    - name: Enable and start promtail-compose service
      systemd:
        name: promtail-compose.service
        enabled: true
        state: started

  handlers:
    - name: Reload systemd
      systemd:
        daemon_reload: true
