- name: Restart services
  hosts: full-app
  remote_user: "{{ deploy_user }}"
  gather_facts: yes
  vars:
    services:
      - dango
      - cometbft
    cometbft_rpc_port: 26657
  vars_files:
    - roles/full-app/vars/main.yml
  tasks:
    - debug:
        msg: "{{ dango_network }}"
      when: not (deployment_name is defined)

    - name: Read current deploy
      include_role:
        name: full-app
        tasks_from: read_current_deploy.yml
      when: not (deployment_name is defined)

    - set_fact:
        cometbft_rpc_port: "{{ traefik[dango_network].ports.cometbft_rpc_port }}"
      when: not (deployment_name is defined)

    - name: Read COMETBFT_RPC_PORT from .env
      shell: |
        grep -E '^(COMETBFT_RPC_PORT)=' {{ deployment_dir }}/.env | \
        awk -F= '{print tolower($1) "=" $2}'
      register: existing_env_variables
      when: deployment_name is defined

    - name: Set facts from existing .env
      set_fact:
        "{{ item.split('=')[0] }}": "{{ item.split('=')[1] }}"
      loop: "{{ existing_env_variables.stdout_lines }}"
      when: deployment_name is defined

    - set_fact:
        current_deployment: "{{ deployment_name }}"
      when: deployment_name is defined

    - set_fact:
        deployment_name: "{{ current_deployment }}"
      when: not (deployment_name is defined)

    - debug:
        msg: "Will restart {{ deployment_dir }}"

    - name: List services in this deployment
      command: >
        docker compose --project-directory {{ deployment_dir }}
        config --services
      register: compose_services

    - name: Show services
      debug: var=compose_services.stdout_lines

    - name: Start service and wait to be healthy
      community.docker.docker_compose_v2:
        project_name: "{{ current_deployment }}"
        project_src: "{{ deployment_dir }}"
        services: "{{ services }}"
        state: present
        recreate: always
        wait: true

    - debug:
        msg: "Fetching http://{{ wireguard_ip }}:{{ cometbft_rpc_port }}/status"

    - name: Wait for CometBFT to sync
      uri:
        url: "http://{{ wireguard_ip }}:{{ cometbft_rpc_port }}/status"
        return_content: yes
      register: cometbft_status
      until: not (cometbft_status.json.result.sync_info.catching_up | default(true))
      retries: 30
      delay: 10
