- name: Stop services
  hosts: full-app
  remote_user: "{{ deploy_user }}"
  gather_facts: yes
  vars_files:
    - roles/full-app/vars/main.yml
  tasks:
    - import_tasks: roles/full-app/tasks/pause_kuma.yml

    - debug:
        msg: "{{ dango_network }}"
      when: not (deployment_name is defined)

    - name: Read current deploy
      include_role:
        name: full-app
        tasks_from: read_current_deploy.yml
      when: not (deployment_name is defined)

    - name: Set facts from existing .env
      set_fact:
        "{{ item.split('=')[0] }}": "{{ item.split('=')[1] }}"
      loop: "{{ existing_env_variables.stdout_lines }}"
      when: deployment_name is defined

    - set_fact:
        current_deployment: "{{ deployment_name }}"
      when: deployment_name is defined

    - set_fact:
        deployment_name: "{{ current_deployment }}"
      when: not (deployment_name is defined)

    - name: Stop service
      community.docker.docker_compose_v2:
        project_name: "{{ current_deployment }}"
        project_src: "{{ deployment_dir }}"
        state: stopped
        recreate: always
        wait: true
