- hosts: all
  become: true
  remote_user: debian
  vars_files:
    - vaults/debian/root_vault.yml
  collections:
    - artis3n.tailscale
  vars:
    tailscale_args: "--accept-dns=false"
  roles:
    - role: artis3n.tailscale
