- hosts: traefik
  remote_user: "debian"
  vars_files:
    - vaults/debian/root_vault.yml
  tasks:
    - name: Install certbot + Cloudflare plugin
      become: true
      apt:
        name:
          - certbot
          - python3-certbot-dns-cloudflare
          - cron
        state: present
        update_cache: yes

- hosts: traefik
  remote_user: "{{ deploy_user }}"
  collections:
    - community.docker
  pre_tasks:
    - name: Get deploy user info
      getent:
        database: passwd
        key: "{{ deploy_user }}"

    - name: Set deploy_home fact
      set_fact:
        deploy_home: "{{ ansible_facts.getent_passwd[deploy_user][4] }}"
  roles:
    - traefik

- hosts: traefik
  remote_user: debian
  become: true
  vars_files:
    - vaults/debian/root_vault.yml
  pre_tasks:
    - name: Get deploy user info
      getent:
        database: passwd
        key: "{{ deploy_user }}"

    - name: Set deploy_home fact
      set_fact:
        deploy_home: "{{ ansible_facts.getent_passwd[deploy_user][4] }}"
  tasks:
    - name: Install systemd unit for traefik compose
      template:
        src: roles/traefik/templates/traefik-compose.service.j2
        dest: /etc/systemd/system/traefik-compose.service
        mode: '0644'
      notify: Reload systemd

    - name: Enable and start traefik-compose service
      systemd:
        name: traefik-compose.service
        enabled: true
        state: started

  handlers:
    - name: Reload systemd
      systemd:
        daemon_reload: true

# - hosts: traefik
#   remote_user: "debian"
#   tasks:
#     # We don't allow those port from public IPs anymore
#     - name: Add UFW rules
#       become: true
#       ufw:
#         rule: allow
#         direction: in
#         port: "{{ item }}"
#         proto: tcp
#         delete: yes
#       loop: [80, 443]
#       ignore_errors: yes
