[package]
authors       = { workspace = true }
categories    = { workspace = true }
documentation = { workspace = true }
edition       = { workspace = true }
license       = { workspace = true }
name          = "grug-httpd"
repository    = { workspace = true }
rust-version  = { workspace = true }
version       = { workspace = true }

[features]
metrics = [
  "dep:actix-web-metrics",
  "dep:futures-util",
  "dep:metrics",
  "dep:metrics-exporter-prometheus",
]
testing = ["dep:grug-testing"]
tracing = ["dep:tracing"]

[dependencies]
actix                       = { workspace = true }
actix-cors                  = { workspace = true }
actix-web                   = { workspace = true }
actix-web-metrics           = { workspace = true, optional = true }
anyhow                      = { workspace = true }
async-graphql               = { workspace = true }
async-graphql-actix-web     = { workspace = true }
async-trait                 = { workspace = true }
chrono                      = { workspace = true }
futures-util                = { workspace = true, optional = true }
grug-app                    = { workspace = true, features = ["tracing"] }
grug-testing                = { workspace = true, optional = true }
grug-types                  = { workspace = true, features = ["async-graphql", "chrono", "tendermint"] }
metrics                     = { workspace = true, optional = true }
metrics-exporter-prometheus = { workspace = true, optional = true }
sentry-actix                = { workspace = true }
serde                       = { workspace = true }
serde_json                  = { workspace = true }
tempfile                    = { workspace = true }
tendermint                  = { workspace = true }
tendermint-rpc              = { workspace = true, features = ["http-client"] }
thiserror                   = { workspace = true }
tokio                       = { workspace = true }
tracing                     = { workspace = true, optional = true }
uuid                        = { workspace = true }

[dev-dependencies]
clap               = { workspace = true }
tracing-subscriber = { workspace = true }
