[package]
authors       = { workspace = true }
categories    = { workspace = true }
documentation = { workspace = true }
edition       = { workspace = true }
license       = { workspace = true }
name          = "indexer-httpd"
repository    = { workspace = true }
rust-version  = { workspace = true }
version       = { workspace = true }

[lib]
path = "src/lib.rs"

[features]
metrics = [
    "dep:actix-web-prometheus",
    "dep:metrics",
    "dep:metrics-exporter-prometheus",
    "dep:prometheus",
]
testing = ["dep:grug-testing"]
tracing = ["dep:tracing"]

[dependencies]
actix                       = { workspace = true }
actix-cors                  = { workspace = true }
actix-files                 = { workspace = true }
actix-web                   = { workspace = true }
actix-web-prometheus        = { workspace = true, optional = true, features = ["process"] }
anyhow                      = { workspace = true }
async-graphql               = { workspace = true }
async-graphql-actix-web     = { workspace = true }
async-trait                 = { workspace = true }
base64                      = { workspace = true }
chrono                      = { workspace = true }
clap                        = { workspace = true }
futures-util                = { workspace = true }
grug-app                    = { workspace = true }
grug-math                   = { workspace = true }
grug-testing                = { workspace = true, optional = true }
grug-types                  = { workspace = true, features = ["chrono"] }
indexer-sql                 = { workspace = true }
itertools                   = { workspace = true }
metrics                     = { workspace = true, optional = true }
metrics-exporter-prometheus = { workspace = true, optional = true }
num_cpus                    = { workspace = true }
prometheus                  = { workspace = true, optional = true }
sea-orm                     = { workspace = true }
sentry                      = { workspace = true }
sentry-actix                = { workspace = true }
serde                       = { workspace = true }
serde_json                  = { workspace = true }
tempfile                    = { workspace = true }
tendermint                  = { workspace = true }
tendermint-rpc              = { workspace = true, features = ["http-client"] }
thiserror                   = { workspace = true }
tokio                       = { workspace = true }
tracing                     = { workspace = true, optional = true }
tracing-actix-web           = { workspace = true }
tracing-subscriber          = { workspace = true }
uuid                        = { workspace = true }

[dev-dependencies]
assertor = { workspace = true }
