[package]
authors       = { workspace = true }
categories    = { workspace = true }
documentation = { workspace = true }
edition       = { workspace = true }
license       = { workspace = true }
name          = "indexer-httpd"
repository    = { workspace = true }
rust-version  = { workspace = true }
version       = { workspace = true }

[lib]
path = "src/lib.rs"

[features]
tracing = ["dep:tracing"]

[dependencies]
actix                   = { workspace = true }
actix-cors              = { workspace = true }
actix-files             = { workspace = true }
actix-web               = { workspace = true }
anyhow                  = { workspace = true }
async-graphql           = { workspace = true }
async-graphql-actix-web = { workspace = true }
base64                  = { workspace = true }
chrono                  = { workspace = true }
clap                    = { workspace = true }
graphql_client          = { workspace = true }
grug-app                = { workspace = true }
grug-types              = { workspace = true }
indexer-sql             = { workspace = true }
itertools               = { workspace = true }
num_cpus                = { workspace = true }
paste                   = { workspace = true }
reqwest                 = { workspace = true, features = ["json"] }
sea-orm                 = { workspace = true }
serde                   = { workspace = true }
serde_json              = { workspace = true }
tempfile                = { workspace = true }
tendermint              = { workspace = true }
tendermint-rpc          = { workspace = true }
thiserror               = { workspace = true }
tokio                   = { workspace = true }
tracing                 = { workspace = true, optional = true }
tracing-actix-web       = { workspace = true }
tracing-subscriber      = { workspace = true }
uuid                    = { workspace = true }

[dev-dependencies]
assertor = { workspace = true }
