[package]
authors       = { workspace = true }
categories    = { workspace = true }
documentation = { workspace = true }
edition       = { workspace = true }
license       = { workspace = true }
name          = "indexer-clickhouse"
repository    = { workspace = true }
rust-version  = { workspace = true }
version       = { workspace = true }

[features]
async-graphql = ["dep:async-graphql", "dep:indexer-httpd", "grug-types/async-graphql"]
metrics       = ["dep:metrics", "grug-httpd/metrics", "indexer-httpd/metrics"]
testing       = ["clickhouse/test-util"]
tracing       = ["dep:tracing"]

[dependencies]
anyhow         = { workspace = true }
async-graphql  = { workspace = true, optional = true, features = ["bigdecimal"] }
async-stream   = { workspace = true }
async-trait    = { workspace = true }
bigdecimal     = { workspace = true }
bnum           = { workspace = true, features = ["serde"] }
borsh          = { workspace = true }
chrono         = { workspace = true }
clickhouse     = { workspace = true, features = ["chrono", "inserter", "time", "uuid"] }
dango-types    = { workspace = true }
futures        = { workspace = true }
grug           = { workspace = true }
grug-app       = { workspace = true }
grug-httpd     = { workspace = true }
grug-types     = { workspace = true, features = ["chrono"] }
indexer-hooked = { workspace = true }
indexer-httpd  = { workspace = true, optional = true }
indexer-sql    = { workspace = true }
itertools      = { workspace = true }
metrics        = { workspace = true, optional = true }
serde          = { workspace = true }
serde_json     = { workspace = true }
strum          = { workspace = true, features = ["derive"] }
strum_macros   = { workspace = true }
tempfile       = { workspace = true }
thiserror      = { workspace = true }
tokio          = { workspace = true }
tokio-stream   = { workspace = true }
tracing        = { workspace = true, optional = true }

[dev-dependencies]
assertor    = { workspace = true }
clickhouse  = { workspace = true, features = ["test-util"] }
comfy-table = { workspace = true }
test-case   = { workspace = true }
