services:
{% if hyperlane_agent_type == 'relayer' %}
  relayer:
    image: "ghcr.io/left-curve/left-curve/hyperlane-agents:{{ hyperlane_agents_tag }}"
    container_name: "{{ hyperlane_instance_name }}"
    env_file:
      - .env
    volumes:
      - "{{ hyperlane_instance_dir }}/hyperlane_db:/app/hyperlane_db"
      - "{{ hyperlane_agents_dir }}/config.json:/config/config.json:ro"
      - "{{ hyperlane_agents_dir }}/relayer-config.json:/config/relayer-config.json:ro"
      - "{{ hyperlane_agents_dir }}/relayer-{{ hyperlane_agents_network }}-config.json:/config/relayer-{{ hyperlane_agents_network }}-config.json:ro"
    environment:
      CONFIG_FILES: >-
        /config/config.json,/config/relayer-config.json,/config/relayer-{{ hyperlane_agents_network }}-config.json

    command: ["./relayer"]
    restart: unless-stopped
{% elif hyperlane_agent_type == 'validator' %}
  validator:
    image: "ghcr.io/left-curve/left-curve/hyperlane-agents:{{ hyperlane_agents_tag }}"
    container_name: "{{ hyperlane_instance_name }}"
    env_file:
      - .env
    volumes:
      - "{{ hyperlane_instance_dir }}/hyperlane_db:/app/hyperlane_db"
      - "{{ hyperlane_agents_dir }}/config.json:/config/config.json:ro"
      - "{{ hyperlane_agents_dir }}/validator-config.json:/config/validator-config.json:ro"
      - "{{ hyperlane_agents_dir }}/validator-{{ hyperlane_agents_network }}-config.json:/config/validator-{{ hyperlane_agents_network }}-config.json:ro"
    environment:
      CONFIG_FILES: >-
        /config/config.json,/config/validator-config.json,/config/validator-{{ hyperlane_agents_network }}-config.json

    command: ["./validator"]
    restart: unless-stopped
{% endif %}
