{% set r = relayer[hyperlane_agents_network] %}
# Dango testnet chain signer
HYP_CHAINS_DANGOTESTNET_SIGNER_KEY="{{ r.dango_signer_key }}"
HYP_CHAINS_DANGOTESTNET_SIGNER_ADDRESS="{{ r.dango_signer_address }}"

# Sepolia chain signer
HYP_CHAINS_SEPOLIA_SIGNER_KEY="{{ r.sepolia_signer_key }}"

