{#
  Expected vault structure:
  relayer:
    {{ hyperlane_agents_network }}:
      signer_key: "..."
      signer_address: "..."
#}

{% set r = relayer[hyperlane_agents_network] %}

# Dango chain signer (es. DANGOTESTNET)
HYP_CHAINS_DANGOTESTNET_SIGNER_KEY="{{ r.signer_key }}"
HYP_CHAINS_DANGOTESTNET_SIGNER_ADDRESS="{{ r.signer_address }}"

