{% set v = validator[hyperlane_agents_network][hyperlane_validator_index] %}
HYPERLANE_AGENTS_DIR="{{ hyperlane_agents_dir }}"
HYPERLANE_INSTANCE_DIR="{{ hyperlane_instance_dir }}"
HYPERLANE_INSTANCE_NAME="{{ hyperlane_instance_name }}"
HYPERLANE_AGENTS_TAG="{{ hyperlane_agents_tag }}"
HYPERLANE_AGENTS_NETWORK="{{ hyperlane_agents_network }}"
HYPERLANE_METRICS_HOST_PORT="{{ hyperlane_validator_metrics_host_port }}"

AWS_ACCESS_KEY_ID="{{ v.aws_access_key_id }}"
AWS_SECRET_ACCESS_KEY="{{ v.aws_secret_access_key }}"
HYP_VALIDATOR_ID="{{ v.aws_kms_alias }}"

HYP_CHECKPOINTSYNCER_BUCKET="{{ v.checkpoints_bucket }}"

# Dango testnet chain signer
HYP_CHAINS_DANGOTESTNET_SIGNER_KEY="{{ v.dango_signer_key }}"
HYP_CHAINS_DANGOTESTNET_SIGNER_ADDRESS="{{ v.dango_signer_address }}"

