{% set v = validator[hyperlane_agents_network][hyperlane_validator_index] %}
AWS_ACCESS_KEY_ID="{{ v.aws_access_key_id }}"
AWS_SECRET_ACCESS_KEY="{{ v.aws_secret_access_key }}"

HYP_VALIDATOR_ID="{{ v.validator_id }}"

HYP_CHECKPOINTSYNCER_BUCKET="{{ v.checkpoints_bucket }}"

# Dango mainnet chain signer
HYP_CHAINS_DANGO_SIGNER_KEY="{{ v.dango_signer_key }}"
HYP_CHAINS_DANGO_SIGNER_ADDRESS="{{ v.dango_signer_address }}"

