{#
  Expected vault structure:
  validator:
    {{ hyperlane_agents_network }}:
      {{ hyperlane_validator_index }}:
        aws_access_key_id: "..."
        aws_secret_access_key: "..."
        validator_id: "alias/..."
        checkpoints_bucket: "..."
        dangotestnet_signer_key: "..."
        dangotestnet_signer_address: "..."
        origin_chain_name: "dangotestnet"
#}

{% set v = validator[hyperlane_agents_network][hyperlane_validator_index] %}

AWS_ACCESS_KEY_ID="{{ v.aws_access_key_id }}"
AWS_SECRET_ACCESS_KEY="{{ v.aws_secret_access_key }}"

HYP_VALIDATOR_ID="{{ v.validator_id }}"

HYP_CHECKPOINTSYNCER_BUCKET="{{ v.checkpoints_bucket }}"

HYP_CHAINS_DANGOTESTNET_SIGNER_KEY="{{ v.dangotestnet_signer_key }}"
HYP_CHAINS_DANGOTESTNET_SIGNER_ADDRESS="{{ v.dangotestnet_signer_address }}"

HYP_ORIGINCHAINNAME="{{ v.origin_chain_name }}"

