- name: Allow TCP ports
  tags: setup
  become: true
  become_user: root
  ufw:
    rule: allow
    direction: in
    port: "{{ item }}"
    proto: tcp
  loop:
    - "{{ faucet_port }}"

- name: Login to GHCR
  community.docker.docker_login:
    registry: ghcr.io
    username: "{{ ghcr_user }}"
    password: "{{ ghcr_token }}"

- name: Deploy bots container
  docker_container:
    name: "{{ dango_network }}_bots"
    image: ghcr.io/left-curve/bots/bots:latest
    user: "{{ ansible_user_uid }}:{{ ansible_user_gid }}"
    pull: always
    recreate: true
    restart_policy: unless-stopped
    state: started
    command: ["faucet", "--provider-url", "http://{{ dango_network }}_dango:{{ dango_port }}"]
    env:
      HOME: /app
    ports:
      - "{{ faucet_port }}:8082"
    networks:
      - name: "{{ dango_network }}_backend"
    tty: true

