services:
  db:
    image: postgres:17
    shm_size: 1gb
    ports:
      # For security reasons, postgres should only accept connections from localhost.
      - 127.0.0.1:${POSTGRES_PORT:-5432}:5432
    volumes:
      - db_data:/var/lib/postgresql/data
      # For when we'll need an init script ran at initialization
      # - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_HOST_AUTH_METHOD=trust
      - POSTGRES_DB=grug_dev
    tty: true
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -h localhost -p 5432 -U postgres"]
      interval: 2s
      timeout: 5s
      retries: 10

  dango:
    image: ghcr.io/left-curve/left-curve/dango:${DANGO_TAG:-latest}
    depends_on:
      db:
        condition: service_healthy
    ports:
      - 127.0.0.1:${DANGO_PORT:-8080}:8080
    volumes:
      - ./configs/dango/config:/root/.dango/config
      - dango_data:/root/.dango/data
      - dango_indexer:/root/.dango/indexer
    environment:
      - DB_HOST=db
      - DB_PORT=5432
      - DB_USER=postgres
      - DB_NAME=grug_dev
      - INDEXER__DATABASE_URL=postgres://postgres@db:5432/grug_dev
    tty: true
    healthcheck:
      test: ["CMD", "curl", "-f", "http://127.0.0.1:8080/up"]
      interval: 10s
      timeout: 5s
      retries: 3

  cometbft-init:
    image: ghcr.io/left-curve/left-curve/cometbft:${COMETBFT_TAG:-v0.38.17}
    volumes:
      - ./data/cometbft/data:/source:ro
      - cometbft_data:/target
    command: sh -c "cp -rn /source/* /target/ 2>/dev/null || true"

  cometbft:
    image: ghcr.io/left-curve/left-curve/cometbft:${COMETBFT_TAG:-v0.38.17}
    depends_on:
      - dango
      - cometbft-init
    ports:
      - 127.0.0.1:${COMETBFT_PORT:-26657}:26657
    volumes:
      - ./configs/cometbft/config:/root/.cometbft/config
      - cometbft_data:/root/.cometbft/data
    tty: true
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:26657/up"]
      interval: 10s
      timeout: 5s
      retries: 3

volumes:
  db_data:
  dango_data:
  dango_indexer:
  cometbft_data:
