[package]
authors       = { workspace = true }
categories    = { workspace = true }
documentation = { workspace = true }
edition       = { workspace = true }
license       = { workspace = true }
name          = "hyperlane-va"
repository    = { workspace = true }
rust-version  = { workspace = true }
version       = { workspace = true }

[features]
# If enabled, Wasm exports won't be created. This allows this contract to be
# imported into other contracts as a library.
library = []

[dependencies]
anyhow            = { workspace = true }
grug              = { workspace = true }
hyperlane-mailbox = { workspace = true, features = ["library"] }
hyperlane-types   = { workspace = true }
