server:
  http_listen_port: 3200

distributor:
  receivers:
    otlp:
      protocols:
        http:
        grpc:
    jaeger:
      protocols:
        grpc:
        thrift_http:
        thrift_compact:
        thrift_binary:

storage:
  trace:
    backend: local
    wal:
      path: /tmp/tempo/wal
    local:
      path: /tmp/tempo/blocks

compactor:
  compaction:
    block_retention: 48h

querier:
  frontend_worker:
    frontend_address: tempo:9095

query_frontend:
  search:
    max_duration: 24h
