[package]
authors       = { workspace = true }
categories    = { workspace = true }
documentation = { workspace = true }
edition       = { workspace = true }
license       = { workspace = true }
name          = "dango-testing"
repository    = { workspace = true }
rust-version  = { workspace = true }
version       = { workspace = true }

[dependencies]
dango-app      = { workspace = true }
dango-genesis  = { workspace = true }
dango-types    = { workspace = true }
grug           = { workspace = true }
grug-app       = { workspace = true }
grug-db-disk   = { workspace = true }
grug-db-memory = { workspace = true }
grug-vm-hybrid = { workspace = true }
grug-vm-rust   = { workspace = true }
grug-vm-wasm   = { workspace = true }
k256           = { workspace = true }

[dev-dependencies]
anyhow            = { workspace = true }
criterion         = { workspace = true }
dango-types       = { workspace = true }
hyperlane-mailbox = { workspace = true, features = ["library"] }
hyperlane-types   = { workspace = true }
hyperlane-warp    = { workspace = true, features = ["library"] }
pyth-sdk          = { workspace = true }
rand              = { workspace = true }
reqwest           = { workspace = true, features = ["json"] }
test-case         = { workspace = true }
tracing           = { workspace = true }

[[bench]]
harness = false
name    = "benchmarks"
