[package]
authors       = { workspace = true }
categories    = { workspace = true }
documentation = { workspace = true }
edition       = { workspace = true }
license       = { workspace = true }
name          = "dango-testing"
repository    = { workspace = true }
rust-version  = { workspace = true }
version       = { workspace = true }

[dependencies]
actix-web               = { workspace = true }
anyhow                  = { workspace = true }
async-graphql           = { workspace = true }
dango-genesis           = { workspace = true }
dango-indexer-sql       = { workspace = true, features = ["async-graphql", "testing", "tracing"] }
dango-proposal-preparer = { workspace = true }
dango-types             = { workspace = true, features = ["async-graphql"] }
digest                  = { workspace = true }
grug                    = { workspace = true }
grug-app                = { workspace = true }
grug-crypto             = { workspace = true }
grug-db-disk-lite       = { workspace = true }
grug-db-memory          = { workspace = true }
grug-vm-hybrid          = { workspace = true }
grug-vm-rust            = { workspace = true }
grug-vm-wasm            = { workspace = true }
hex-literal             = { workspace = true }
hyperlane-testing       = { workspace = true }
hyperlane-types         = { workspace = true }
indexer-httpd           = { workspace = true, features = ["metrics"] }
indexer-sql             = { workspace = true, features = ["async-graphql", "testing", "tracing"] }
k256                    = { workspace = true }
pyth-client             = { workspace = true }
pyth-types              = { workspace = true }
sea-orm                 = { workspace = true }
serde                   = { workspace = true }
serde_json              = { workspace = true }
sha2                    = { workspace = true }
temp-rocksdb            = { workspace = true }
tracing                 = { workspace = true }

[dev-dependencies]
actix-service               = { workspace = true }
anyhow                      = { workspace = true }
assert-json-diff            = { workspace = true }
assertor                    = { workspace = true }
bip32                       = { workspace = true }
chrono                      = { workspace = true }
criterion                   = { workspace = true }
dango-account-factory       = { workspace = true, features = ["library"] }
dango-auth                  = { workspace = true }
dango-gateway               = { workspace = true, features = ["library"] }
dango-httpd                 = { workspace = true, features = ["metrics"] }
dango-lending               = { workspace = true, features = ["library"] }
dango-mock-httpd            = { workspace = true }
dango-oracle                = { workspace = true, features = ["library"] }
grug-testing                = { workspace = true }
hex                         = { workspace = true }
home                        = { workspace = true }
indexer-client              = { workspace = true, features = ["tracing"] }
indexer-disk-saver          = { workspace = true }
indexer-testing             = { workspace = true }
itertools                   = { workspace = true }
metrics-exporter-prometheus = { workspace = true }
proptest                    = { workspace = true }
rand                        = { workspace = true }
reqwest                     = { workspace = true, features = ["json"] }
serde_json                  = { workspace = true }
test-case                   = { workspace = true }
tokio                       = { workspace = true, features = ["full"] }
tracing                     = { workspace = true }

[[bench]]
harness = false
name    = "benchmarks"
