[package]
authors       = { workspace = true }
categories    = { workspace = true }
documentation = { workspace = true }
edition       = { workspace = true }
license       = { workspace = true }
name          = "dango-testing"
repository    = { workspace = true }
rust-version  = { workspace = true }
version       = { workspace = true }

[dependencies]
actix-web               = { workspace = true }
anyhow                  = { workspace = true }
async-graphql           = { workspace = true }
dango-genesis           = { workspace = true }
dango-httpd             = { workspace = true }
dango-indexer-sql       = { workspace = true, features = ["tracing"] }
dango-proposal-preparer = { workspace = true }
dango-types             = { workspace = true }
grug                    = { workspace = true }
grug-app                = { workspace = true }
grug-crypto             = { workspace = true }
grug-db-disk            = { workspace = true }
grug-db-memory          = { workspace = true }
grug-vm-hybrid          = { workspace = true }
grug-vm-rust            = { workspace = true }
grug-vm-wasm            = { workspace = true }
hex-literal             = { workspace = true }
hyperlane-types         = { workspace = true }
indexer-httpd           = { workspace = true }
indexer-sql             = { workspace = true, features = ["tracing"] }
k256                    = { workspace = true }
pyth-client             = { workspace = true }
pyth-types              = { workspace = true }
sea-orm                 = { workspace = true }
serde                   = { workspace = true }
serde_json              = { workspace = true }

[dev-dependencies]
anyhow                = { workspace = true }
assertor              = { workspace = true }
criterion             = { workspace = true }
dango-account-factory = { workspace = true, features = ["library"] }
dango-bank            = { workspace = true, features = ["library"] }
dango-httpd           = { workspace = true }
dango-oracle          = { workspace = true, features = ["library"] }
dango-types           = { workspace = true }
dango-warp            = { workspace = true, features = ["library"] }
indexer-disk-saver    = { workspace = true }
indexer-testing       = { workspace = true }
proptest              = { workspace = true }
rand                  = { workspace = true }
reqwest               = { workspace = true, features = ["json"] }
serde_json            = { workspace = true }
sha2                  = { workspace = true }
test-case             = { workspace = true }
tokio                 = { workspace = true, features = ["full"] }
tracing               = { workspace = true }

[[bench]]
harness = false
name    = "benchmarks"
