services:
  loki:
    image: grafana/loki:latest
    user: "{{ ansible_user_uid }}:{{ ansible_user_gid }}"
    container_name: loki
    command: -config.file=/etc/loki/local-config.yaml
    networks:
      monitoring:
        ipv4_address: 172.23.0.100
    ports:
      - "{{ tailscale_ip }}:{{ loki_port }}:3100"
      - "{{ wireguard_ip }}:{{ loki_port }}:3100"
    volumes:
      - ./config/loki-config.yml:/etc/loki/local-config.yaml
      - ./data:/tmp/loki
    restart: unless-stopped
    # curl isn't available, only wget
    healthcheck:
      test: ["CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost:3100/ready"]
      interval: 30s
      timeout: 10s
      retries: 3

networks:
  monitoring:
    name: monitoring
    external: true
