[package]
name          = "indexer-sql"
version       = { workspace = true }
authors       = { workspace = true }
edition       = { workspace = true }
rust-version  = { workspace = true }
documentation = { workspace = true }
repository    = { workspace = true }
license       = { workspace = true }
categories    = { workspace = true }

[lib]
path = "src/lib.rs"

[features]
tracing = ["dep:tracing"]

[dependencies]
anyhow                = { workspace = true }
borsh                 = { workspace = true }
grug-app              = { workspace = true }
grug-types            = { workspace = true }
grug-math             = { workspace = true }
indexer-disk-saver    = { workspace = true }
indexer-sql-migration = { workspace = true }
sea-orm               = { workspace = true }
serde                 = { workspace = true }
serde_json            = { workspace = true }
tempfile              = { workspace = true }
thiserror             = { workspace = true }
tokio                 = { workspace = true }
tracing               = { workspace = true, optional = true }
uuid                  = { workspace = true }

[dev-dependencies]
assertor = { workspace = true }
