---
import Footer from "~/components/Footer.astro";
import { Fullpage } from "~/components/Fullpage";
import Layout from "~/components/Layout.astro";
import MottoSection from "~/components/MottoSection.astro";
---

<Layout title="Dango">
  <div class="fixed mx-0 top-6 z-50">
    <img
      src="/images/dango.svg"
      alt="logo"
      class="h-6 md:h-12 object-contain"
    />
  </div>
  <div class="w-screen h-screen absolute">
    <Fullpage client:only="react">
      <MottoSection />
      <Footer className="w-full" />
    </Fullpage>
  </div>
</Layout>
