services:
  traefik:
    ports:
      - "80:80"
      - "443:443"
      # traefik dashboard
      - "{{ tailscale_ip }}:8888:8888"
      - "{{ wireguard_ip }}:8888:8888"
      # devnet
      - "8080:8080"
      - "8081:8081"
      - "8082:8082"
      - "26656:26656"
      - "{{ wireguard_ip }}:26657:26657"
      - "{{ wireguard_ip }}:26660:26660"
      - "{{ wireguard_ip }}:8083:8083"
      - "{{ wireguard_ip }}:8084:8084"
      - "{{ wireguard_ip }}:8085:8085"
      - "{{ tailscale_ip }}:26657:26657"
      - "{{ tailscale_ip }}:26660:26660"
      - "{{ tailscale_ip }}:8083:8083"
      - "{{ tailscale_ip }}:8084:8084"
      - "{{ tailscale_ip }}:8085:8085"
      # mainnet
      - "8050:8050"
      - "8051:8051"
      - "8052:8052"
      - "36656:36656"
      - "{{ wireguard_ip }}:36657:36657"
      - "{{ wireguard_ip }}:36660:36660"
      - "{{ wireguard_ip }}:8053:8053"
      - "{{ wireguard_ip }}:8054:8054"
      - "{{ wireguard_ip }}:8055:8055"
      - "{{ tailscale_ip }}:36657:36657"
      - "{{ tailscale_ip }}:36660:36660"
      - "{{ tailscale_ip }}:8053:8053"
      - "{{ tailscale_ip }}:8054:8054"
      - "{{ tailscale_ip }}:8055:8055"
    networks:
      - traefik
      - monitoring
      - cloudflare

networks:
  traefik:
    driver: bridge
    name: traefik
  monitoring:
    external: true
  cloudflare:
    external: true
