api:
  dashboard: true
  insecure: true

ping: true

providers:
  docker:
    exposedByDefault: false
  file:
    directory: /config
    watch: true

serversTransport:
  maxIdleConnsPerHost: 4096
  forwardingTimeouts:
    dialTimeout: 10s
    responseHeaderTimeout: 60s

entryPoints:
  # Public (all interfaces)
  web:
    address: :80
    reusePort: true
    transport:
      lifeCycle:
        requestAcceptGraceTimeout: 0s
      respondingTimeouts:
        readTimeout: 60s
  websecure:
    address: :443
    reusePort: true
    transport:
      lifeCycle:
        requestAcceptGraceTimeout: 0s
      respondingTimeouts:
        readTimeout: 60s
  traefik:
    address: :8888

metrics:
  prometheus: {}

log:
  level: INFO
  format: json

accessLog:
  format: json
  fields:
    names:
      RouterName: keep
      ServiceName: keep
