http:
  services:
    archive-{{ instance.name }}:
      loadBalancer:
        servers:
          - url: "http://archive-{{ instance.name }}:8080"

  routers:
    archive-{{ instance.name }}-ssl:
      rule: "Host(`archive-{{ instance.name }}.{{ dango_domain }}`)"
      entryPoints:
        - "websecure"
      tls: {}
      service: "archive-{{ instance.name }}"

    archive-{{ instance.name }}:
      rule: "Host(`archive-{{ instance.name }}.{{ dango_domain }}`)"
      entryPoints:
        - "web"
      service: "archive-{{ instance.name }}"
