# Chain to relay
HYP_RELAYCHAINS="dangotestnet,sepolia"

# Dango Chain Signer (replace "DANGOTESTNET" with chain name (DANGOTESTNET/DANGO))
# User5 is used as example
HYP_CHAINS_DANGOTESTNET_SIGNER_KEY="fe55076e4b2c9ffea813951406e8142fefc85183ebda6222500572b0a92032a7"
HYP_CHAINS_DANGOTESTNET_SIGNER_ADDRESS="0xa20a0e1a71b82d50fc046bc6e3178ad0154fd184"
