[package]
authors       = { workspace = true }
categories    = { workspace = true }
documentation = { workspace = true }
edition       = { workspace = true }
license       = { workspace = true }
name          = "grug-types"
repository    = { workspace = true }
rust-version  = { workspace = true }
version       = { workspace = true }

[dependencies]
bnum          = { workspace = true, features = ["borsh"] }
borsh         = { workspace = true, features = ["de_strict_order", "derive"] }
data-encoding = { workspace = true }
digest        = { workspace = true }
dyn-clone     = { workspace = true }
grug-math     = { workspace = true }
hex-literal   = { workspace = true }
paste         = { workspace = true }
prost         = { workspace = true }
ripemd        = { workspace = true }
serde         = { workspace = true, features = ["derive"] }
serde_json    = { workspace = true }
serde_with    = { workspace = true }
sha2          = { workspace = true }
sha3          = { workspace = true }
strum_macros  = { workspace = true }
thiserror     = { workspace = true }

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
async-trait = { workspace = true }
grug-crypto = { workspace = true }

[dev-dependencies]
test-case = { workspace = true }
