---
github_sha: "{{ lookup('pipe','git rev-parse HEAD') }}"
dango_image_tag: "{{ github_sha }}"
frontend_image_tag: "{{ github_sha }}"
dex_bot_tag: "latest"
cometbft_node_key: ""
cometbft_validator_address: ""
cometbft_validator_public_key: ""
cometbft_validator_private_key: ""
dango_host: "dango"
cometbft_host: "cometbft"
cometbft_tag: "v0.38.19"
cometbft_generate_keys: false
deploy_env: "staging"
chain_id: "dev-10"
dango_network: "devnet"
# When traefik is enabled it will be used for routing, keeping the same port
traefik_enabled: false
expose_ports: false
dex_bot_enabled: false
faucet_bot_enabled: false
github_deployments_enabled: false
deploy_includes_postgres: true
delete_postgres_database_at_merge: false
deploy_includes_clickhouse: true
delete_clickhouse_database_at_merge: false
delete_s3_backup_at_merge: false
s3_bucket: "dango-{{ chain_id }}"
s3_path: "dango/indexer/blocks/"
postgres_database: "dango_{{ timestamp }}"
clickhouse_database: "dango_{{ timestamp }}"
deployment_dir: "{{ ansible_facts['env']['HOME'] }}/deployments/{{ deployment_name }}"
dango_directory: "{{ deployment_dir }}/dango"
cometbft_directory: "{{ deployment_dir }}/cometbft"
# Lock file used to prevent concurrent deploys per network
deploy_lock_file: "{{ ansible_facts['env']['HOME'] }}/deployments/.{{ dango_network }}.deploy.lock"
# should we use system wide dango and cometbft directories instead of contained in the deploy
system_wide_directories: false
# Set this to true to deploy a new database and cometbft/dango directory
reset_data: false

cloudflare_tunnel_enabled: false

cosign_certificate_oidc_issuer: "https://token.actions.githubusercontent.com"
# Regex identities that accept PRs, branches, and tags for this repo/workflows
# Anchored and constrained to this repository and workflow files.
cosign_identity_rust_regexp: '^https://github.com/left-curve/left-curve/\.github/workflows/rust\.yml@refs/(heads|pull|tags)/.*$'
cosign_identity_cometbft_regexp: '^https://github.com/left-curve/left-curve/\.github/workflows/cometbft\.yml@refs/(heads|pull|tags)/.*$'
