- name: Ensure target dir exists
  vars:
    cometbft_target_dir: "{{ ansible_env.HOME }}/{{ item[0] }}/cometbft"
  file:
    path: "{{ cometbft_target_dir }}/{{ item[1] }}"
    state: directory
    mode: '0755'
  loop: "{{ dango_networks | product(['config', 'data']) | list }}"

- name: Copy validator state only if missing
  vars:
    cometbft_target_dir: "{{ ansible_env.HOME }}/{{ dango_network }}/cometbft"
  copy:
    src: "{{ playbook_dir }}/roles/cometbft/files/{{ dango_network }}/data/priv_validator_state.json"
    dest: "{{ cometbft_target_dir }}/data/priv_validator_state.json"
    mode: '0644'
    force: no
  loop: "{{ dango_networks }}"
  loop_control:
    loop_var: dango_network

- name: Render all templates from cometbft role
  vars:
    dango_network: "{{ item[0] }}"
    cometbft_target_dir: "{{ ansible_env.HOME }}/{{ dango_network }}/cometbft"
    dango_host: "{{ dango_network }}_dango"
    COMETBFT_NODE_KEY: "{{ lookup('env', (dango_network|upper) ~ '_COMETBFT_NODE_KEY') }}"
    COMETBFT_VALIDATOR_ADDRESS: "{{ lookup('env', (dango_network|upper) ~ '_COMETBFT_VALIDATOR_ADDRESS') }}"
    COMETBFT_VALIDATOR_PUB_KEY: "{{ lookup('env', (dango_network|upper) ~ '_COMETBFT_VALIDATOR_PUB_KEY') }}"
    COMETBFT_VALIDATOR_PRIVATE_KEY: "{{ lookup('env', (dango_network|upper) ~ '_COMETBFT_VALIDATOR_PRIVATE_KEY') }}"
  template:
    src: "{{ playbook_dir }}/roles/cometbft/templates/{{ dango_network }}/config/{{ item[1] }}"
    dest: "{{ cometbft_target_dir }}/config/{{ item[1] }}"
  loop: "{{ dango_networks | product(['config.toml', 'genesis.json', 'node_key.json', 'priv_validator_key.json']) | list}}"

- name: Allow TCP ports
  tags: setup
  become: true
  become_user: root
  ufw:
    rule: allow
    direction: in
    port: "{{ ports[dango_network].cometbft_p2p_port }}"
    proto: tcp
  loop: "{{ dango_networks }}"
  loop_control:
    loop_var: dango_network

- name: Ensure backend network exists
  community.docker.docker_network:
    name: "{{ dango_network }}_backend"
    driver: bridge
    state: present
  loop: "{{ dango_networks }}"
  loop_control:
    loop_var: dango_network

- name: Login to GHCR
  community.docker.docker_login:
    registry: ghcr.io
    username: "{{ ghcr_user }}"
    password: "{{ ghcr_token }}"

- name: Deploy cometbft container
  vars:
    cometbft_target_dir: "{{ ansible_env.HOME }}/{{ dango_network }}/cometbft"
    cometbft_rpc_port: "{{ ports[dango_network].cometbft_rpc_port }}"
    cometbft_p2p_port: "{{ ports[dango_network].cometbft_p2p_port }}"
  docker_container:
    name: "{{ dango_network }}_cometbft"
    image: ghcr.io/left-curve/left-curve/cometbft:v0.38.17
    user: "{{ ansible_user_uid }}:{{ ansible_user_gid }}"
    pull: always           # always pull the image
    recreate: true         # destroy+recreate if anything changes
    restart_policy: unless-stopped
    state: started
    env:
      HOME: /app
    ports:
      - "{{ cometbft_p2p_port }}:26656"
      - "{{ tailscale_ip }}:{{ cometbft_rpc_port }}:26657"
    volumes:
      - "{{ cometbft_target_dir }}:/app/.cometbft"
    networks:
      - name: "{{ dango_network }}_backend"
    tty: true
    healthcheck:
      test: ["CMD", "curl", "-f", "http://127.0.0.1:26657/health"]
      interval: 10s
      timeout: 5s
      retries: 3
  loop: "{{ dango_networks }}"
  loop_control:
    loop_var: dango_network
