# Based on:
# https://github.com/rust-lang/mdBook/wiki/Automated-Deployment%3A-GitHub-Actions
# https://github.com/peaceiris/actions-gh-pages?tab=readme-ov-file#%EF%B8%8F-mdbook-rust

name: Book

on:
  push:
    branches:
      - main
    paths:
      - .github/workflows/book.yaml
      - book/**
      - book.toml

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    permissions:
      contents: write # To push a branch
      pages: write    # To push to a GitHub Pages site
      id-token: write # To update the deployment status
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable

      # This builds mdbook from source, which is really slow.
      # We should consider using: https://github.com/peaceiris/actions-mdbook
      # but it doesn't support the katex preprocessor.
      #
      # 20251124: mdbook 0.5 is released, but mdbook-katex won't support it:
      # https://github.com/lzanini/mdbook-katex/issues/130
      # It's a shame, because 0.5 comes with a bunch of nice new features.
      # For now, let's just pin mdbook to 0.4. At a later time we can migrate to
      # another LaTeX renderer e.g. MathJax.
      - name: Install mdbook and preprocessors
        run: cargo install mdbook@0.4.48 mdbook-katex@0.9.4

      - name: Build book
        run: mdbook build

      - name: Create CNAME file
        run: echo "docs.dango.exchange" > ./target/book/CNAME

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./target/book/
