name: Portal Deployment

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

env:
  GIT_COMMIT: ${{ github.event.workflow_run.head_sha || github.event.pull_request.head.sha || github.sha }}

on:
  workflow_dispatch:
  push:
    branches:
      - "main"
      - "ui/testnet"
      - "ui/release"
    paths:
      - ".github/workflows/portal-deployment.yaml"
      - "sdk/**"
      - "ui/store/**"
      - "ui/portal/**"
      - "ui/applets/**"
  pull_request:
    paths:
      - ".github/workflows/portal-deployment.yaml"
      - "sdk/**"
      - "ui/store/**"
      - "ui/portal/**"
      - "ui/applets/**"

jobs:
  deploy:
    permissions:
      contents: read
      packages: read
      deployments: write
      pull-requests: write
    runs-on: ubuntu-22.04
    steps:
      - name: Git Checkout
        uses: actions/checkout@v3

      - uses: pnpm/action-setup@v4
        with:
          version: 9.0.0

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm i --frozen-lockfile
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Portal
        run: pnpm build:portal-web
        env:
          CONFIG_ENVIRONMENT: ${{ github.ref_name == 'ui/testnet' && 'test' || github.ref_name == 'ui/release' && 'prod' || 'dev' }}
          PUBLIC_WEBRTC_URI: ${{ secrets.PUBLIC_WEBRTC_URI }}
          PUBLIC_FP: ${{vars.FULLPAGE_KEY_BASE64 }}
          PUBLIC_SENTRY_DSN: ${{ secrets.PUBLIC_SENTRY_DSN }}
          SENTRY_PROJECT: ${{ secrets.SENTRY_PROJECT }}
          SENTRY_ORG: ${{ secrets.SENTRY_ORG }}
          SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}

      - name: Uploading to Cloudflare Pages
        uses: cloudflare/pages-action@v1
        with:
          wranglerVersion: "3"
          apiToken: ${{ secrets.CF_TOKEN }}
          accountId: 9f30716e11f27c296dfbadb7b7571ae6
          projectName: dango-portal
          directory: ./ui/portal/web/build
          gitHubToken: ${{ secrets.GITHUB_TOKEN }}
          branch: ${GITHUB_REF##*/}
