name: Storybook Deployment

on:
  workflow_dispatch:
  push:
    branches:
      - "main"
    paths:
      - "ui/**"
      - "sdk/**"

jobs:
  deploy:
    permissions:
      contents: read
      packages: read
      deployments: write
      pull-requests: write
    runs-on: ubuntu-22.04
    steps:
      - name: Git Checkout
        uses: actions/checkout@v3

      - uses: pnpm/action-setup@v4
        with:
          version: 9.0.0

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 24
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm i --frozen-lockfile
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Library dependencies
        run: pnpm build:kit

      - name: Build Storybook
        working-directory: "ui/applets/kit"
        run: pnpm sb:build

      - name: Uploading to Cloudflare Pages
        uses: cloudflare/pages-action@v1
        with:
          wranglerVersion: "3"
          apiToken: ${{ secrets.CF_TOKEN }}
          accountId: 9f30716e11f27c296dfbadb7b7571ae6
          projectName: dango-storybook
          directory: ./ui/applets/kit/storybook-static
          gitHubToken: ${{ secrets.GITHUB_TOKEN }}
          branch: ${GITHUB_REF##*/}
