[package]
authors       = { workspace = true }
categories    = { workspace = true }
documentation = { workspace = true }
edition       = { workspace = true }
license       = { workspace = true }
name          = "dango-dex"
repository    = { workspace = true }
rust-version  = { workspace = true }
version       = { workspace = true }

[features]
# If enabled, Wasm exports won't be created. This allows this contract to be
# imported into other contracts as a library.
library = []
metrics = ["dep:metrics"]
tracing = ["dep:tracing"]

[dependencies]
anyhow                = { workspace = true }
dango-account-factory = { workspace = true, features = ["library"] }
dango-oracle          = { workspace = true, features = ["library"] }
dango-types           = { workspace = true }
grug                  = { workspace = true }
metrics               = { workspace = true, optional = true }
tracing               = { workspace = true, optional = true }

[dev-dependencies]
test-case = { workspace = true }
